[2014-08-15 07:10] jcspencer opened #1 "Publish to Hex"
For easier access, it would be useful if this was published to [Hex.pm](https://hex.pm/).
A guide to packaging/publishing an application can be found [here](https://hex.pm/docs/publish)

[2014-08-19 20:01] #1 closed, assigned to nobody

[2015-02-07 18:33] jeregrine opened #2 "Set up configuration issues"
Hey when I use this with phoenix I have a couple things I need to do extra,

1) Configure the logger `backends: [:console, Raven]`
2) I need to add :hackney to my applications list
3) I need to override hackney to latest and override poison to latest.

[2015-02-07 18:35] jeregrine opened #3 "Sending up no message"
When using the setup described in #2 I get an issue where the body send to sentry looks like

[code]

[2016-07-07 18:19] myronmarston opened #9 "Can you publish an updated version?"
The version on Hex is at 0.0.5 but there have been many changes since that version.  Any reason you haven't published updated versions?

[2016-08-03 14:20] jeregrine opened #11 "Refactor API Client into own module"
- Handle errors gracefully https://docs.getsentry.com/on-premise/clientdev/#handling-failures
- Handle DSN configuration entirely
- Request Encoding
- Response Handling

[2016-08-03 14:30] jeregrine opened #12 "Setup Configuration"
- release
- environment
- user context
- tags context
- contexts

[2016-08-03 14:30] jeregrine opened #13 "Basic Exception Reporting"

[2016-08-03 14:33] jeregrine opened #14 "Rename to sentry-elixir"
- [ ] Create Hex package
- [ ] Rename repo
- [ ] Rename Application
- [ ] Push Hex App

[2016-08-03 14:36] jeregrine commented on #9
This package has been transferred to Sentry proper. We'll be making a great deal of changes in the near term to bring it up to speed with existing Sentry libraries.

This will likely come with some major version changes and a new package name on hex.

[2016-08-03 14:38] #3 closed

[2016-08-03 14:38] #2 closed

[2016-08-03 14:41] jeregrine opened #15 "Setup Travis-CI"

[2016-08-03 14:48] jeregrine opened #16 "Plug Integration"

[2016-08-03 14:56] jeregrine opened #17 "Getting Started"

[2016-08-03 14:57] jeregrine opened #18 "Breadcrumbs"

[2016-08-04 10:21] jwarlander commented on #9
Nice to hear! So if I'd be starting to look at using Sentry for Elixir right now, would I be likely to see some new cool things being published within the near future?

[2016-08-04 13:45] jeregrine commented on #9
Yes.

On Thu, Aug 4, 2016 at 5:21 AM, Johan Warlander <notifications@github.com>
wrote:

[2016-08-12 20:05] jeregrine opened #24 "Setup better integration tests"

[2016-08-12 20:05] jeregrine opened #25 "Setup Graceful Backoff"
Possibly with a circuit breaker https://docs.getsentry.com/on-premise/clientdev/#handling-failures

[2016-08-18 20:03] #13 closed

[2016-08-18 20:12] #15 closed

[2016-08-18 20:13] mitchellhenke commented on #11
@jeregrine should we call this done? or do we want to wait for retries

[2016-08-18 20:54] jeregrine commented on #11
Yea

[2016-08-18 20:54] #11 closed

[2016-08-24 15:53] jeregrine opened #30 "DataScrubbing"
https://docs.sentry.io/hosted/clientdev/advanced/#scrubbing-data

[2016-08-24 17:55] mitchellhenke opened #32 "Avoid double Application.fetch_env! call on Sentry.send_event/1"
Can get config at compile time and macro the API call in or do nothing

[2016-08-24 20:01] jeregrine opened #33 "Make included_environments, :environment_name not required"

[2016-08-24 20:15] #17 closed

[2016-08-24 20:16] #14 closed

[2016-08-24 20:16] #16 closed

[2016-08-25 18:20] jeregrine commented on #33
https://docs.sentry.io/hosted/clients/ruby/config/

[2016-08-25 18:21] #30 closed

[2016-08-25 19:35] jeregrine opened #38 "Reject Params too big"
https://docs.sentry.io/hosted/clientdev/advanced/#variable-size

[2016-08-25 19:52] jeregrine opened #39 "excluded_exceptions"

[2016-08-25 21:04] #12 closed

[2016-08-25 21:04] #33 closed

[2016-08-25 21:05] #25 closed

[2016-08-26 14:33] teamon opened #42 "Fallback to Mix.env"
https://github.com/getsentry/raven-elixir/blob/master/lib/sentry/event.ex#L63

It causes

[code]

because `MIX_ENV` is not set.

I think it could fallback to `Mix.env`.

[2016-08-26 14:43] jeregrine commented on #42
@teamon We can provide a better error message but this is expected behavior.

[2016-08-26 14:44] jeregrine opened #44 "Provide Better Error Message for Environment Name"
To help with #42

[2016-08-26 14:44] #42 closed

[2016-08-26 14:44] mitchellhenke opened #45 "Better error message on required config missing"
related to https://github.com/getsentry/raven-elixir/issues/42

[2016-08-26 14:45] mitchellhenke commented on #42
created https://github.com/getsentry/raven-elixir/issues/45

[2016-08-26 14:45] #45 closed

[2016-08-26 14:46] teamon commented on #42
@jeregrine Can you elaborate a bit more? I'm curious why check MIX_ENV but skip Mix.env

[2016-08-26 14:48] jeregrine commented on #42
@teamon mix might not be available. Say if you use it with a release. Its not good practice to rely on Mix.env.

[2016-08-26 15:03] teamon commented on #42
Right, makes sense. Thanks :)

[2016-08-26 15:12] #44 closed

[2016-08-26 15:13] #32 closed

[2016-08-26 18:38] jeregrine opened #47 "Logger Backend cannot parse Postgrex"
[error] Postgrex.Protocol (#PID<0.514.0>) failed to connect: ** (Postgrex.Error) tcp connect: connection refused - :econnrefused
[warn] unable to parse exception

Maybe time to remove that old code.

[2016-08-29 16:02] #18 closed

[2016-08-29 18:50] #47 closed

[2016-08-29 18:50] #24 closed

[2016-08-29 20:09] mitchellhenke commented on #9
@myronmarston @jwarlander we've released a new version to hex (1.0.0), but it will require you to change the dependency name and configuration if you are on an older version :)

[2016-08-29 20:09] #9 closed

[2016-08-29 20:10] jeregrine opened #53 "Make HTTP Client Configurable"

[2016-08-29 20:10] jeregrine opened #54 "More comprehensive docs"

[2016-08-29 20:11] jeregrine opened #55 "Possible to get source code?"

[2016-09-08 20:40] #53 closed

[2016-09-08 20:40] #55 closed

[2016-09-09 14:23] #39 closed

[2016-09-17 01:46] JoshSmith opened #58 "Conflict with assert_error_sent/2?"
In my application's `Router`, if I `use Sentry.Plug`, then any test that uses `assert_error_sent/2` fails to pass.

Does the Sentry plug's error handling conflict with this in some known way?

[2016-09-17 01:51] JoshSmith commented on #58
It looks as though your `handle_errors` which calls out to `Sentry.capture_exception` is not continuing to raise the exception.

You can see some discussion about this in relation to Rollbax here: https://github.com/elixir-lang/plug/issues/444

[2016-09-19 15:24] mitchellhenke commented on #58
Thanks for the report.  ❤️

Could you set up an example project showing this?  I tried to replicate with a Phoenix application, and was able to use `assert_error_sent` successfully.  My understanding of [Plug.ErrorHandler](https://hexdocs.pm/plug/Plug.ErrorHandler.html) is that by default it will re-raise once the `handle_errors` callback has executed, and so it shouldn't cause any conflict with a

[2016-09-20 00:59] alex88 opened #59 "Are use_error_logger and Sentry.Plug mutual exclusive?"
I don't understand by the docs if the

[code]

is enough to catch all the errors, or I need to also also with

[code]

just in case the plug doesn't intercept all the errors?

I mean, it `use_error_logger` something that works only for what `Sentry.Plug` doesn't catch? Or using it alone is enough to work both outside of Plug and inside?

[2016-09-20 06:13] JoshSmith commented on #58
@mitchellhenke yes, I know it's not just a minimal setup but you can find the branch for this PR https://github.com/code-corps/code-corps-api/pull/223 and pull it down. If you use Docker should be relatively trivial to get it up and running for testing purposes.

Let me know if I can help more there. Don't want to make the bug verification too burdensome.

[2016-09-20 17:20] mitchellhenke commented on #58
After some research, I am not sure if this is an issue with how we are using `Plug.ErrorHandler` within a Phoenix application, or if this is a Phoenix issue.  I am going to continue investigating to find a fix, because it's definitely not behaving as I would expect.

[2016-09-20 17:50] JoshSmith commented on #58
@mitchellhenke okay, happy to help if you'd like/need.

[2016-09-21 20:38] mitchellhenke commented on #59
They aren't mutually exclusive.

[Plug.ErrorHandler](https://hexdocs.pm/plug/Plug.ErrorHandler.html) is used to catch errors that happen during a Plug response.

`use_error_logger` sets up a [Logger backend](http://elixir-lang.org/docs/stable/logger/Logger.html#module-backends) that receives error events from any system that reports one (could be something like a Redis worker process, or other Gen

[2016-09-21 20:38] #59 closed

[2016-09-21 20:47] alex88 commented on #59
Gotcha, thank you

[2016-09-21 20:53] mitchellhenke commented on #58
@JoshSmith it looks to be a bug in Phoenix.  I opened an issue [here](https://github.com/phoenixframework/phoenix/issues/1928), and it should be fixed on master now.  I suspect experiencing the above bug means that there are some content-type inconsistencies in the application, but I'm not positive.

If you could try Phoenix master with: `{:phoenix, "1.3.0-dev", github: "phoenixframework/phoenix",

[2016-09-21 20:54] mitchellhenke commented on #59
@alex88 you bet :)

[2016-09-21 21:17] JoshSmith commented on #58
@mitchellhenke yes, I'll try a little later today and report back. Thanks!

[2016-09-21 21:17] mitchellhenke opened #60 "Allow configuring level when sending event"

[2016-09-22 00:42] JoshSmith commented on #58
@mitchellhenke now I get a new failure (hitting the new code) on my failures:

[code]

Is there something else I'm doing wrong?

[2016-09-22 15:09] mitchellhenke commented on #58
@JoshSmith is that with or without Sentry set up?

[2016-09-22 16:30] matt-g-adams opened #63 "Do not capture certain exceptions"
Currently, sentry is capturing Elixir.Phoenix.Router.NoRouteError, which is not what we'd prefer. Is it reasonable for there to be a config key like `excluded_exceptions`?

[2016-09-22 17:46] mitchellhenke commented on #63
Capturing from `Plug.ErrorHandler`?

[2016-09-23 01:37] JoshSmith commented on #58
@mitchellhenke it's with that branch on the referenced PR, so with Sentry set up. You should be able to pull down, since it's Dockerized, and verify in ~5 minutes there.

[2016-09-23 01:37] JoshSmith commented on #58
Also happy to screenshare or something if it's helpful.

[2016-09-23 14:23] mitchellhenke commented on #58
@JoshSmith it looks like the tests also fail on develop without Sentry

[2016-09-23 14:39] #60 closed

[2016-09-24 00:44] Harrisonl opened #65 "Not Capturing GenServer errors"
For some reason I can't get this to capture elixir based errors. For example, a GenServer termination error.

[code]

[2016-09-25 18:05] JoshSmith commented on #58
@mitchellhenke that's bizarre. They shouldn't be, or else my CI is borked somehow. Let me investigate and figure out what's happening.

[2016-09-25 18:06] JoshSmith commented on #58
I'm guessing that change in Phoenix changed something else that now makes them break where they were passing before.

[2016-09-26 15:24] mitchellhenke commented on #65
what environments are set in `included_environments`?  If `environment_name` doesn't match anything in `included_environments`, no exceptions will be sent.  It defaults to `[:prod]`, so `"dev"` wouldn't match.

[2016-09-26 15:39] jeregrine commented on #65
also @Harrisonl `'dev'` is a character list. Not sure if thats a typo.

[2016-09-26 16:57] mitchellhenke commented on #58
@JoshSmith that's my hunch as well.  I'm not sure if it's due to a dependency, or something else, but it does not appear to be related to Sentry.

[2016-09-26 20:33] JoshSmith commented on #58
@mitchellhenke thanks, I went through some dependency resolution fun the other day. Will test this again today.

[2016-09-26 20:37] mitchellhenke commented on #58
@JoshSmith cool, let me know if there's any way I can help.

[2016-09-27 04:59] JoshSmith commented on #58
Updated in the Phoenix issue: https://github.com/phoenixframework/phoenix/issues/1928

If you concur and could reopen that would be helpful!

[2016-09-27 23:39] JoshSmith opened #67 "Add a task to test Sentry DSN configuration"
In `raven-ruby` you can quickly test your Sentry configuration by running a rake task.

See https://github.com/getsentry/raven-ruby/wiki/Advanced-Configuration#testing-your-configuration

[code]

I'd like to propose we have something similar. Maybe a mix task, if appropriate. But I would love to quickly test that my configuration is working from the CLI or some equivalent interface.

[2016-09-28 15:46] JoshSmith commented on #58
The actual issue here was not in this package but in how I was handling `json-api` error view rendering.

Described in this issue https://github.com/AgilionApps/ja_serializer/issues/176 and closed by https://github.com/AgilionApps/ja_serializer/pull/177

[2016-09-28 15:46] #58 closed

[2016-10-03 18:08] mitchellhenke commented on #65
Happy to take a look into this with more information, but going to close for now.

[2016-10-03 18:08] #65 closed

[2016-10-03 22:56] #67 closed

[2016-10-04 20:36] myronmarston opened #69 "`Failed to send sentry event` does not provide enough detail"
I was trying sentry out in my project and got this in my logs:

[code]

Problem is, it does not tell me why it failed or give me any clue about it.  I initially assumed it was a problem with my dsn, but that was correct.  Eventually, I edited the code in `Sentry.Client.request/4` to have it capture the unmatched values (instead of ignoring them with `_`) and print them with `IO.inspect`.  The resu

[2016-10-04 20:49] mitchellhenke commented on #69
good catch, thank you for the report.  this shouldn't be too bad to fix, and I should be able to get to it shortly.

[2016-10-11 19:07] omin opened #71 "No fallback to MIX_ENV"
Should fallback to MIX_ENV=dev by default.

[code]

[2016-10-11 20:43] jeregrine commented on #71
If you check outhttps://github.com/getsentry/sentry-elixir/blob/master/lib/sentry.ex#L78 you need MIX_ENV or environment_name set.

[2016-10-11 20:43] #71 closed

[2016-10-15 05:33] alexgaribay commented on #71
I think using `System.get_env("MIX_ENV")` at https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry.ex#L82 is the wrong way to grab the mix environment. The standard way to do so with Mix is with `Mix.env`. I find it very annoying to have to pass in `MIX_ENV=test mix test` just to do testing with `mix test` automatically sets the Mix environment to `:test`.

[2016-10-15 15:58] jeregrine commented on #71
Using Mix.env in your application code is an anti-practice. I will make a
new issue to fix this.

On Sat, Oct 15, 2016 at 12:33 AM, Alex Garibay <notifications@github.com>
wrote:

[2016-10-15 15:59] jeregrine commented on #71
@alexgaribay @omin You could also juset set environment_name in your test.exs

[2016-10-15 15:59] jeregrine opened #73 "Environment_name is cumbersome to use."
Figure out a better default configuration. #71

[2016-10-15 20:06] omin opened #74 "Sentry ignores remote IP address with nginx proxy"
I'm not sure if it's related to the following issue but I only get 127.0.0.1 as the ip address.
![image](https://cloud.githubusercontent.com/assets/3143154/19413052/2a307c62-92d8-11e6-9438-a2b71ff6d0c1.png)
![image](https://cloud.githubusercontent.com/assets/3143154/19413055/30a3cf04-92d8-11e6-8ec6-42f9910742d7.png)
getsentry/sentry#1254

[2016-10-18 21:17] RobinClowers opened #75 "Setup instructions are out of date"
The setup instructions don't include setting `environment_name` (presumably because it used to default to MIX_ENV), so my app wouldn't start after following those instructions. To get it to work, I had to put my config in `config/config.exs`.

[2016-10-19 18:22] jeregrine commented on #75
Fixed by #76

[2016-10-19 18:22] #75 closed

[2016-10-19 18:22] jeregrine commented on #73
CLosed by #76

[2016-10-19 18:22] #73 closed

[2016-10-19 18:22] #54 closed

[2016-10-20 18:07] #69 closed

[2016-10-20 18:50] myronmarston commented on #63
This is happening for us, too, and I'd love a way to exclude it.

Yep.

[2016-10-20 19:04] mitchellhenke commented on #63
@myronmarston would it apply only to Plug errors, or also to `Sentry.capture_exception/2` and  `Sentry.Logger`?

[2016-10-20 20:02] myronmarston commented on #63
We are currently only using the plug handler, but I expect we'll use the others in the future.

Could you support a filtering function that would allow users to flexibly define filtering logic? If so, you could pass a `source` argument, which would allow people to do things like:

[code]

By passing both the exception and the source (e.g. `:plug`, `:logger` or `:capture_exception`) it allows the u

[2016-10-20 21:10] jeregrine commented on #63
@myronmarston that sounds good to me.

[2016-10-26 10:47] h4cc commented on #74
We use nginx as reverse proxy as well, which is configured to add the common "X-Forwarded-For" header to forwarded request.

Having a configuration value to define a strategy where User IP Address should be taken from would be cool imho.

[2016-10-26 16:27] omin commented on #74
I realized that this is a problem with phoenix. We need to use a package to overwrite remote ip with x-forwarded-for header.

[2016-10-26 16:27] #74 closed

[2016-10-27 07:24] mtwilliams opened #79 "Fallback to ancestor's context if available?"
The `:proc_lib` module (and by extension `Task` module) record ancestors by shoving them into the process dictionary under `$ancestors`. Although a nasty hack, looking up context in from an ancestor would drastically help when trying to reproduce a bug.

Thoughts?

[2016-10-28 17:21] myronmarston opened #80 "Please include `request_id` in data submitted by `Sentry.Plug`"
Plug provides [`Plug.RequestId`](https://hexdocs.pm/plug/Plug.RequestId.html#content), which assigns a unique request id to every request.  If you're using Phoenix, it [automatically wires this up](https://github.com/phoenixframework/phoenix/blob/996a83a27d8ccdc7e0e3bdda9c21d537b19b2002/installer/templates/new/lib/app_name/endpoint.ex#L22) for you.

Given `request_id` goes in `Logger.metadata` and

[2016-10-31 19:23] jeregrine commented on #80
@myronmarston good call, we should be able to do this without using logger or metadata, we'll just use the conn.

[2016-11-01 21:00] #80 closed

[2016-11-01 23:10] mitchellhenke commented on #79
Thanks for the report.  Is this for `Sentry.Logger`?  I don't think this is something I'd feel comfortable adding without at least understanding the use case a little bit more.

My initial thought would be to have the children send a report on `terminate`?  Or have the supervisor handle the child crashes and report from there?

[2016-11-02 17:37] mtwilliams commented on #79
Specifically [`Sentry.Context.get_context/0`](https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry/context.ex#L50).

Something like,

[code]

[2016-11-02 17:44] mtwilliams commented on #79
This means code that makes use of Tasks, like below, will show what request caused the crash in `App.Analysis.Connections.between/2`.

[code]

[2016-11-02 19:25] mitchellhenke commented on #79
Does that route use`Sentry.Plug`?

[2016-11-02 20:46] mtwilliams commented on #79
It's in the chain, yes.

[2016-11-04 14:10] QuentinFchx opened #82 "Unlock poison dep"
Poison lib is now 3.x (https://github.com/devinus/poison).
Is it possible to unlock the dep ?
currently `{:poison, "~> 1.5 or ~> 2.0"}`

[2016-11-04 16:43] mitchellhenke commented on #82
Yep, absolutely.

[2016-11-04 19:33] ctrlShiftBryan opened #83 "Is this supposed to provide a backend for Elixir Logger?"
Should I expect calls to Logger.error to get sent? It appears not.

I would say that it provides an "erlang report handler" in the documentation instead of an "Elixir back end".

Is adding an actual Elixir back end logger a feature you would want to add?

[2016-11-14 12:55] Mazyod commented on #83
I'm very interested in this one as well, since it's the main reason I am looking for an error reporting tool besides just relying on papertrail logging.

[2016-11-14 15:47] jeregrine commented on #83
So the original code base was a Logger Backend before we moved to this style.

https://github.com/getsentry/sentry-elixir/commit/8448f3699c70d60899009536d6dd9ff3d6df59e5

The issue with Logger backend's is that we lose all fidelity and context of what exception _actually_ occurred. Logger will format and render the exception and stack trace as text before handing it off to you. So the previous ver

[2016-11-14 15:57] mitchellhenke commented on #83
Yeah, you are correct that `Logger.error` messages will not be handled or sent.  I'm not sure it's something we want to add, as we found it hard to work with.

As Jason said, adding your own Logger backend is probably the best way for now, and then have it send Sentry events.  If there is a good solution you find that generalizes well, and you think would be helpful to include in the library, I wo

[2016-11-14 16:39] mitchellhenke commented on #79
I see what you mean.  Something along the lines of:

[code]

will crash but not include the user context that was set.

Adding the above code does not seem to work well within the current tests we have.  I am interested in finding a solution, but there doesn't seem to be a standard way to go up the tree either.

Absent a solution along those lines in the near term, I would probably avoid linking a

[2016-11-14 16:50] #82 closed

[2016-11-14 16:56] mitchellhenke commented on #82
Release 1.1.1 should now allow Poison 3.0 :)

[2016-11-14 16:57] mitchellhenke commented on #80
Release 1.1.1 should include this :)

[2016-11-14 19:15] rawkode opened #84 "protocol Enumerable not implemented for nil"
Adding the following code to my `router.ex` in my Phoenix application results in an exception during exceptions ...

[code]

[code]

![sentry](https://cloud.githubusercontent.com/assets/145816/20278976/a5100456-aa9e-11e6-81af-bc840a3fbc30.png)

[2016-11-14 19:35] jeregrine commented on #84
@rawkode I see the error, to fix for now please set the included_environments variable in your config and I will see if we can cut a new release today

[2016-11-14 19:37] rawkode commented on #84
My config actually includes that:

[code]

[2016-11-14 19:41] jeregrine commented on #84
@rawkode well one issue is that included environments needs to be a list of atoms, you can add an a to the end of it like so `~w(dev prod)a`.

I'm looking into it now .

[2016-11-14 19:47] rawkode commented on #84
D'oh! That fixed it for me. Thanks for your help, @jeregrine

[2016-11-14 19:51] #84 closed

[2016-11-15 04:04] mtwilliams commented on #79
Please elaborate.

Undefined, but unchanging too.

[2016-11-15 15:03] Mazyod opened #86 "JSON payload not showing in dashboard"
So, I was testing my first exception using HTTPie. Even though the request clearly has a body which is raising an exception, and that exception is properly reported in Sentry, the report doesn't include the body of the request. Instead, it just shows the body as `{}`.

For extra details, I using v1.1.1, Elixir v1.3.3, OTP 19, Phoenix 1.2.1.

[code]

<img width="1000" alt="screen_shot_2016-11-15_at

[2016-11-15 15:44] mitchellhenke commented on #86
This is due to not providing a function to scrub sensitive data (relevant docs are [here](https://hexdocs.pm/sentry/1.1.1/Sentry.Plug.html)).  By default, the library doesn't attempt to scrub things like password, credit card, etc. and depends on the user to provide a function to do so.  This was done initially to avoid unintentionally sending sensitive information without the user specifying what

[2016-11-15 21:38] mitchellhenke commented on #79
Apologies for being unclear.  The code above causes tests to fail, and I'm not sure this feature is something we want to add if it depends on behavior that is not currently well-defined.

I would gladly review a PR for this as I think it would better illustrate how the feature could fit into the library.

[2016-11-15 22:59] myronmarston opened #88 "Getting compile errors when using sentry-elixir in non-plug apps"
We've been using this library just fine in a phoenix app.  Today I took a stab at updating some non-phoenix apps (they do not provide an HTTP interface at all, actually -- they just do backend processing) to use this library with the `use_error_logger` option, and now I'm getting a compile error:

[code]

Since my app does not use plug, it is not available, and the `%Plug.Conn{}` in the pattern ma

[2016-11-15 23:52] #88 closed

[2016-11-15 23:55] mitchellhenke commented on #88
@myronmarston Thanks for catching this. 🙂

I've pushed a fix and released 1.1.2

[2016-11-16 00:46] myronmarston commented on #88
Thanks for the quick fix!

[2016-11-16 00:46] Mazyod opened #89 "Error: Event dropped due to filter"
Hello again,

Now that I've been running Sentry on my elixir instance for a while, I'm seeing random errors logged in the elixir app itself with a result "event dropped due to filter". In my project settings I have "Filter out known web crawlers", so I am guessing that's the filter in question.

The issue here is why would it be logged as an error? It is causing the papertrail logger to report fal

[2016-11-16 02:57] mtwilliams commented on #79
Why do the test fail?

The code I gave was illustrative – wrote it off the top of my head.

[2016-11-16 15:29] mitchellhenke commented on #79
I don't recall, as I only tried briefly.

I am going to close this issue, as without more specifics around the implementation, it is difficult to discuss.  If you would like to submit a PR for the feature with tests, I would be happy to review and provide feedback. 🙂

[2016-11-16 15:29] #79 closed

[2016-11-16 15:29] #83 closed

[2016-11-16 15:31] jeregrine commented on #89
@Mazyod this looks like you are getting hit by the "bingbot" which is a Microsoft Bing search engine scraping server. It looks like Sentry has a filter to drop this kind of error. I'll ping them to see if there is something we should be doing to handle this specifically.

[2016-11-16 15:36] Mazyod commented on #89
Thanks for the response, @jeregrine. I would just like to emphasize that sentry service is doing a great job at filtering this event, I just think the elixir client needs to realize that this is intentional and "by design", hence shouldn't log any errors to the console/Logger.

[2016-11-16 15:51] mitchellhenke commented on #89
It's tough because Sentry will also return HTTP 403 for things like bad credentials, etc., so we couldn't exclude based on 403 status.

I'm not sure if it would be good for us to drop messages in the end anyway, as some users may want to see these logs.

[2016-11-16 16:33] Mazyod commented on #89
@mitchellhenke Users wanting to see this log is a reasonable assumption, but my argument is that no one expects it to be logged as an error. Wouldn't you agree?

I sympathize with the inability to easily differentiate between intentional and faulty situations. I would certainly hope people from Sentry would mitigate this with a header field or similar.

[2016-11-17 15:46] DavidAntaramian opened #90 "ErrorLogger will not report all exceptions"
Discussed this with @mitchellhenke last night. I'll detail the issue here and let you decide what, if anything, needs to be done.

Currently, the Sentry's [`:error_logger` handler](https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry/logger.ex), which captures exceptions reported by `:error_logger`, is only set to capture errors reported with the `:error_report` tag, which reports a p

[2016-11-17 17:41] #89 closed

[2016-11-17 17:42] jeregrine commented on #89
@Mazyod Thanks for reporting this, the solution suggested by the sentry team is to just log as a warning for now. We'll need to cut a new release soonish

[2016-11-17 18:27] DavidAntaramian commented on #90
Just to follow up, `:error_report` seems to be sent whenever an OTP-compliant / supervised process exits abnormally.

I'm still trying to figure out under what circumstances `:error` is sent.

To give more context, I was running an app that included Phoenix and for various reasons was not using `Plug.ErrorLogger`. I was expecting that errors that occurred would be reported to Sentry regardless via

[2016-11-17 20:26] DavidAntaramian commented on #90
After some digging, I figured out that the `:error` from Phoenix is actually being triggered by Ranch: https://github.com/ninenines/ranch/blob/master/src/ranch_conns_sup.erl#L316.

Essentially, if you don't have the `Plug.ErrorLogger` being used (which I don't because it screws up CORS when there's an error), any error will cause a termination that is reported by Ranch using `:error_logger.error_m

[2016-11-18 04:15] DavidAntaramian opened #92 "Support Sentry.Context.set_http_context/1"
It seems that the `:request` key is supported for `Sentry.capture_exception/2`, but it can't be set ahead of time. The SDK documentation seems to indicate that this should be supported: https://docs.sentry.io/clientdev/context/#common-context-methods

Essentially, I'm trying to do the same thing as `Sentry.Plug` but setting it at the time the plug is called so that `Sentry.capture_exception/2` rep

[2016-11-19 19:08] Mazyod commented on #92
It looks supported to me:

Here is where the context is set ahead of time, it works per process like Logger.metadata
https://github.com/getsentry/sentry-elixir/blob/141e7a58b7b10e2907d121f11711b58ce3777daf/lib/sentry/context.ex#L30

Here is where it is accessing the process context and sending it with the `Event`, which is what an exception gets transformed to:
https://github.com/getsentry/sentry-

[2016-11-24 09:19] deepflame opened #93 "Not reporting test event and Phoenix Channel errors?"
Hi guys,

I have a Phoenix app and followed the instruction to add Sentry logging to it.
When I run

    MIX_ENV=prod mix sentry.send_test_event

it also says that it is sending the test event. Great!
However nothing shows up in the web console on `sentry.io`. Is that normal?

If so, I wanted to catch an error that I get in my Phoenix sockets with `check_origin`. I have seen that this triggers a `

[2016-11-28 15:55] thruflo commented on #93
Hey,

I'm experiencing the same thing.  Did you resolve / was it an delay on sentry's side?

Thanks,

James.

[2016-11-28 16:24] mitchellhenke commented on #93
Yep, I have a proposed fix here: https://github.com/getsentry/sentry-elixir/pull/94

The issue was that since we do the request asynchronously, we'd start the request process and the mix task would end nearly immediately (potentially before the request could be sent).

[2016-11-28 16:24] mitchellhenke commented on #93
Also thank you for the report 🙂

[2016-11-28 16:41] #93 closed

[2016-11-28 17:06] #86 closed

[2016-12-01 23:16] shawnbro opened #95 "Getting undefined function String.trim/2"
When an exception is raised in my Phoenix app, nothing is reported to sentry.  here is the log output:

[code]

Any suggestions?

UPDATE
for some reason the `String` module is not defined in production when deployed to Heroku

[2016-12-02 06:32] Mazyod commented on #95
Hey @shawnbro,

I pulled a docker image of elixir:1.2.6, and it seems `String.trim` functions were not introduced then.
Try creating `elixir_buildpack.config` file and setting your Elixir version to +1.3.x:

[code]

[2016-12-02 14:40] mitchellhenke commented on #95
thanks @Mazyod, that is correct.  🙂

Sentry Elixir only supports Elixir versions 1.3 or higher.  While `String.trim/2` did exist in 1.2, it only accepted a character as the second argument, where 1.3 takes a string.

For reference: [String.trim/2 in 1.2.6](https://hexdocs.pm/elixir/1.2.6/String.html#strip/2) vs. [String.trim/2 in 1.3.4](https://hexdocs.pm/elixir/1.3.4/String.html#trim/2)

[2016-12-02 14:40] #95 closed

[2016-12-02 18:20] edevil commented on #90
@DavidAntaramian Could you elaborate on how Plug.ErrorLogger screws up CORS requests when an error occurs? Thanks.

[2016-12-02 18:22] edevil commented on #38
The link in the issue gives a 404.

[2016-12-05 09:11] timbuchwaldt commented on #88
This issue was reintroduced in 2.0.0:

[code]

[2016-12-05 15:26] mitchellhenke commented on #88
@timbuchwaldt sorry about that.  I made a change in https://github.com/getsentry/sentry-elixir/commit/57862f49a6df2e8810dfe4371d726115ab5e45c1 that should be better about preventing that from coming back again.  I've released `2.0.1` that includes the fix.

[2016-12-08 13:25] begedin opened #96 "default_body_scrubber Regex.match? call fails if property is non-string."
With, for example, a payload of {"some_property": false}, the `default_body_scrubber` will fail with the following stacktrace:

[code]

Reason being, `Regex.match?` expects a string as the second argument, which a boolean clearly is not. Same goes for any other non-string, ex. integer

[2016-12-08 14:26] mitchellhenke commented on #96
Oops, good catch.  Thanks for the report.  🙂

It's been fixed in https://github.com/getsentry/sentry-elixir/commit/fe55fccecbfc62447f4dedb4cf3cdd36597b8ebf and released in `2.0.2`

[2016-12-08 14:26] #96 closed

[2016-12-08 14:41] mitchellhenke opened #97 "Fix 1.4 compile warnings"

[2016-12-08 15:53] JoshSmith commented on #96
Ah good job reporting this @begedin. I saw this same issue but figured it was a "me" error.

[2016-12-08 20:43] #97 closed

[2016-12-08 22:47] #63 closed

[2016-12-09 01:59] doughsay opened #99 "Timestamp parameter is invalid and ignored"
Just updated to sentry-elixir 2.0.2, and my events are getting this error when displayed in the sentry UI.  Also, the "First Seen" and "Last Seen" are always "n/a".  See screenshot:

![screen shot 2016-12-08 at 5 56 13 pm](https://cloud.githubusercontent.com/assets/221693/21034888/0f82231c-bd70-11e6-96e4-214b573c202f.png)

I assume the two are related...

Also, I don't know if this has anything to

[2016-12-09 20:01] mitchellhenke commented on #90
This is a bit roundabout, and I _think_ I understand it now, but the root issue is that Plug pipelines with`Plug.ErrorHandler` will have the `conn` state "unwound" to what it was at the beginning of that pipeline.

The Plugs that do things in front of `Plug.ErrorHandler` will do thing normally (set headers, etc.), but if it catches an error, the `conn` that is ultimately returned by the request wi

[2016-12-09 20:01] #90 closed

[2016-12-09 23:06] sikanhe opened #101 "Genserver/Task.Supervisor crash error/stacktrace is too vague in sentry"
I had a bug in the code that caused genservers being crashed, and the only print out I got in the sentry app was

[code]

I had to ssh into to the server to get the full error stack trace and crash report:

[code]

[2016-12-14 21:50] mitchellhenke commented on #101
Thank you for creating this issue, this is something I'd like to improve.  Due to the way processes are, sometimes errors reported are less than helpful.

Could you gist a simple reproduction?

[2016-12-14 22:06] mitchellhenke commented on #101
I'm not positive, but it appears to partially be related to an error occurring when a GenServer tries to call the [`terminate/2`](http://elixir-lang.org/docs/v1.3/elixir/GenServer.html#c:terminate/2) callback.  Is `terminate/2` defined for the GenServer?

[2016-12-15 04:14] sikanhe commented on #101
@mitchellhenke no terminate/2 is not defined, i will try to recreate a gist this weekend

[2016-12-17 15:19] #92 closed

[2016-12-19 18:34] mitchellhenke commented on #99
I believe this was fixed as much as the library can fix the issue in #100.  If you continue to have problems, please just open another issue, and I'll see what can be done on client or server side. 🙂

[2016-12-19 18:34] #99 closed

[2016-12-19 18:56] doughsay commented on #99
Thanks!  Sorry for my lack of responses; I'm confident this is all we can do from the library side as well.  I'll keep my eye out on the misbehaving events to see if I can figure anything else out.  So far, things seem to have magically fixed themselves.  Thanks again!

[2016-12-19 19:12] mitchellhenke commented on #99
@doughsay no worries, thanks for reporting this!

[2017-01-05 20:54] jerel commented on #84
For whatever it's worth I'm still seeing this issue using the latest version if `included_environments` is not used. To replicate: install sentry in the router using `use Sentry.Plug` and don't add any config except in config/prod.exs. Any errors in development will throw `Enumerable not implemented for nil`

[2017-01-10 18:53] olafura commented on #38
https://docs.sentry.io/clientdev/data-handling/#variable-size

[2017-01-11 07:36] h4cc opened #105 "Enabling options for hackney"
This library is using hackney, but there is no predefined way to provide additional options to hackney. These could include:

* Pool configuration
* Proxy settings

Currently sentry is using the default hackney pool, which will lead to failures when sending to sentry, when the pool is empty.

[2017-01-11 13:53] mitchellhenke commented on #105
Thanks for creating this issue, I should be able to take care of it this week! 🙂

[2017-01-11 21:48] walter commented on #101
@mitchellhenke can you talk more about the error with GenServer, please? How does it present itself? We've started experiencing some mysterious timeouts from a package's GenServer that calls `Task.await` not long after switching to Sentry. Shot in the dark that it is related, but I thought I would check.

[2017-01-12 22:56] mitchellhenke commented on #101
@walter sorry, my sentence above may have been unclear.  To be more specific, I meant things like context and stacktrace will get lost when communicating over multiple processes.

The library executes the HTTP calls asynchronously, so it shouldn't hold up normal execution.

[2017-01-12 23:10] walter commented on #101
Good to know. We ruled out Sentry as the cause in a test as well. Looking more like Perf.

[2017-01-14 23:25] rafaeljesus opened #107 "Load dynamic values from system env"
The current [code](https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry/client.ex#L94) does not load dynamic env var using `:system`

[code]

This is useful when deploying in production environment using [exrm](https://github.com/bitwalker/exrm).

I would appreciate this feature asap as I am not receiving errors on my Sentry account or if you have any other suggestion please let me no

[2017-01-17 17:19] mitchellhenke commented on #107
I don't have a huge amount of experience with exrm/distillery, so please correct me if I'm off.  My understanding is that for libraries supporting the `{:system, "CONFIG_KEY"}` convention, when the release is built, it will store that tuple normally without fetching from System. Upon the release being run, the library will see that pattern, and read from the config at runtime.

I believe Phoenix o

[2017-01-17 18:46] #105 closed

[2017-01-17 23:00] rafaeljesus commented on #107
@mitchellhenke Thank you for your reply! Yes that's the behavior mate. I also request it on [ex_statsd](https://github.com/CargoSense/ex_statsd/pull/32) I can totally submit a PR you you want, wdyt?

[2017-01-18 15:23] mitchellhenke commented on #107
@rafaeljesus cool, sounds good.  I can likely get to it this week.

[2017-01-21 14:38] #107 closed

[2017-02-01 17:21] Ebtoulson opened #112 "Documentation not displaying in GH"
`describe::` is being used throughout documentation but GH is not displaying it.

refer to the different settings sections: https://github.com/getsentry/sentry-elixir/blob/master/docs/config.rst

[2017-02-01 18:00] mitchellhenke commented on #112
The issue stems from different documentation formats.  We maintain separate docs for Sentry's website , which live in the `docs` folder (the docs generated from the file you linked are [here](https://docs.sentry.io/clients/elixir/config)), as well as the ExDoc docs for [hexdocs.pm](hexdocs.pm) and the README for those viewing on GitHub.

The Sentry doc `.rst` files are apparently not displayed sup

[2017-02-01 18:00] #112 closed

[2017-02-03 01:41] maxsalven opened #114 "Stacktrace Unhelpful"
If I try to render a view that references an attribute that has not been preloaded with Ecto:

Without `use Sentry.Plug`, I know exactly what went wrong and in which file
[code]

With `use Sentry.Plug`, I have no idea what the source of my error is, which makes Sentry of very limited use for me:
[code]

[2017-02-03 16:35] mitchellhenke commented on #114
Thanks for opening this.  It looks like the issue is that you don't have any `included_environments` configured, as it's pointing to this line: https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry.ex#L150

Could you try setting `included_environments` in your configuration and see if the issue persists?  If that does turn out to be the issue, we can make the error message more helpful

[2017-02-07 13:23] syamilmj opened #115 "protocol String.Chars not implemented for {:error, :einval}"
As per doc, we put these inside our Phoenix router:

[code]

However, this overrides Phoenix's error handler and effectively making it impossible to trace the actual error, while spitting this error:

[code]

Any ideas?

[2017-02-07 13:47] mitchellhenke commented on #115
Hi, thanks for opening this. Is there a fuller stacktrace available? Sentry should work with Phoenix without issue.

[2017-02-07 13:54] syamilmj commented on #115
Found the cause, let me send a PR

[2017-02-07 19:38] mitchellhenke opened #117 "Better error handling for throws, exits, errors"
For reference:

[code]

Related to #101

[2017-02-09 13:41] maxsalven commented on #114
Thanks, yes this fixed it. I only added the `config :sentry ...` data to my `prod.exs` config file, wrongly assuming I could leave the `dev.exs` config untouched.

[2017-02-09 14:02] mitchellhenke opened #118 "Fail better when missing required configuration"

[2017-02-09 14:11] mitchellhenke commented on #114
Yeah, if Sentry is running, it will check the config to see if it should send events.  I've created #118 to find a better experience for users that run into this.

[2017-02-09 14:11] #114 closed

[2017-02-09 14:12] mitchellhenke commented on #114
Thanks again for letting me know about this 🙂

[2017-02-11 11:54] syamilmj opened #119 "Disable retries"
Is there a way to disable retries? We encountered a lot of 403 errors from sentry and do not wish to retry them.

[2017-02-11 15:45] #115 closed

[2017-02-11 20:52] syamilmj commented on #119
Solved via custom client

[2017-02-11 20:52] #119 closed

[2017-02-15 05:27] aptinio commented on #114
For what it's worth, the `deps/sentry` directory of my phoenix app doesn't include a `config` directory, which I notice the repo does. I think this is where the default configs are currently intended to be taken from.

[2017-02-15 20:29] hauleth opened #121 "Allow assigning user data to payload in `Sentry.Plug`"

[2017-02-15 21:08] mitchellhenke commented on #121
Hi @hauleth, thanks for opening this.  Could you expand on what you mean?

[2017-02-15 21:10] hauleth commented on #121
After some search I have found that what I meant is already there in `Sentry.Context` but it is quite hard to find (as it isn't mentioned in Hex only in Sentry docs). I would recommend adding info about setting context in `README`.

[2017-02-15 21:10] #121 closed

[2017-02-15 21:13] mitchellhenke commented on #121
Yeah, the `Sentry.Context` docs could definitely be expanded upon.  Thank you for the heads up, I'll create an issue for it 🙂

[2017-02-15 21:13] mitchellhenke opened #122 "Improve Sentry.Context documentation"

[2017-02-16 04:09] aptinio commented on #114
I've created PR #124 to address this. I hope it helps.

[2017-02-16 22:10] alex88 commented on #84
Same here too, maybe there should be some defaults in every environments or a fallback in the code where it loads the `included_environments`

[2017-02-16 22:12] alex88 commented on #84
Oh seems https://github.com/getsentry/sentry-elixir/pull/124 and #118  should fix this

[2017-02-17 00:30] hauleth opened #125 "`Sentry.Context.add_breadcumb` should accept keywords list instead/alongside map"

[2017-02-18 17:37] Mazyod opened #126 "Never crash?"
Hello,

I have misused sentry by passing a non-encodable object as a `:extra` opts when capturing an exception, and that caused my game sessions supervisor to blow up, losing all active game sessions.

Given that ensuring the passed object is JSON encodable isn't as trivial as adding a `@spec`, and also given that any error handling code should be as robust as possible, would it make sense to simp

[2017-02-18 17:43] Mazyod commented on #126
If you think that this is actually by design and it's up to the developer to handle possible errors/exceptions that may rise from their misuse, which is completely understandable, I'd suggest at least moving the risky code, (aka `Posion.encode!`) out of the client, since the client is removed during testing.

So, my code tests the Sentry integration up to generating the `Event` object, but once th

[2017-02-22 01:14] mikelat opened #127 "Please update docs on website"
I just wanted to let you know that the docs on the website are outdated and not using 2.0: https://docs.sentry.io/clients/elixir/

It confused me for a few minutes when certain features were non-existent or not functioning until I checked the version.

Thanks

[2017-02-22 22:19] mitchellhenke commented on #126
Hm, yeah, I see what you mean.  I will put something together to handle this better.

As far as `@client` being nil during tests, it should default to `Sentry.Client` unless you explicitly set it to nil.  If you'd like to have Sentry function as far as making HTTP calls during your tests, the tests around `Sentry.Client` should have some decent examples.  You could also write a client that does no

[2017-02-22 22:24] mitchellhenke commented on #127
Thanks for opening, this should be fixed in 27059a3

[2017-02-22 22:24] #127 closed

[2017-02-23 21:27] mitchellhenke commented on #125
Thanks for opening this 🙂

Could you share some more detail?  A keyword list can't be encoded to JSON, so it would be difficult to pass it to the Sentry API.

[2017-02-24 07:58] hauleth commented on #125
There is method `Enum.into(klist, %{})` which would solve the problem.

--
Łukasz Jan Niemier

Dnia 23 lut 2017 o godz. 21:27 Mitchell Henke <notifications@github.com> napisał(a):

[2017-02-24 15:17] mitchellhenke commented on #125
Do you have a use case where passing a map is more difficult, but passing a keyword list isn't?

I think that accepting a keyword list could be a misleading interface if it ultimately has to be a map anyway.

[2017-02-24 16:10] hauleth commented on #125
Everywhere ;)

Elixir emulates keyword arguments using keyword list so this

[code]

become

[code]

Also dynamically building breadcrumb is easier with keyword list as you can just:

[code]

I think it is also nice sugar when you do a lot breadcrumbs and I think that BEAM will optimize it out anyway.

[2017-03-01 01:48] jeregrine opened #129 "We should be using our own hackney pool."

[2017-03-01 18:52] #126 closed

[2017-03-01 18:52] #129 closed

[2017-03-02 17:54] hauleth opened #134 "Split this into API wrapper and reporting application"
IMHO it would be good idea to split it into `sentry` library which will take care of communication with overall communication with Sentry API and `raven` library that will utilize `sentry`.

[2017-03-04 17:02] hauleth commented on #125
I have opened PR that implements this behavior and provide some other cleanups on `Sentry.Context` module.

[2017-03-09 16:20] #117 closed

[2017-03-09 16:20] #101 closed

[2017-03-14 16:43] myronmarston opened #137 "Consider including logger metadata as tags in reported errors"
Elixir's `Logger` supports the concept of `metadata`, which are arbitrary key-value pairs that, if configured, will be included in all logged messages in a standardized format.  In our application we have some standard things that define the context for every process (such as `user`) which we include in `Logger.metadata` -- that way, every logged message includes them in an easy-to-parse, standard

[2017-03-15 15:41] mitchellhenke commented on #137
Thanks for opening this 🙂

I'm not super familiar with Logger metadata, but it is stored per process?  If that is the case, you _should_ be able to do something like:
[code]
in the same place you set Logger metadata, and have that information appear in Sentry:
![image](https://cloud.githubusercontent.com/assets/1430443/23956825/b16161ce-096b-11e7-9ec1-29e0db4572f9.png)

Sentry context is also set

[2017-03-15 19:16] myronmarston commented on #137
Yep:

https://github.com/elixir-lang/elixir/blob/v1.4.2/lib/logger/lib/logger.ex#L307-L309

I wasn't aware of `Sentry.Context`, so thanks for that tip!  This would definitely work, but would be pretty sub-optimal for us, for a few reasons:

* We set `Logger.metadata` in _lots_ of places.  (In my project, `ack Logger.metadata`) returns 29 instances).  It would be a bunch of work to update them all

[2017-03-15 19:45] mitchellhenke commented on #137
Thanks for explaining, it does seem difficult to fit current functionality into that use-case.  If you don't mind, I have a few more questions 🙂

There are different 'contexts' within Sentry that the metadata key/values could be added to (User, Tags, HTTP, and Extra).  SDK Docs for that are [here](https://docs.sentry.io/clientdev/context/).  Simple case would be merging the Logger metadata into th

[2017-03-15 20:08] myronmarston commented on #137
That's a great question.  I'm not familiar with how the sub-contexts are used (e.g. how is the data within them used and surfaced within the Sentry UI?).  Tags I understand (we use them a bit) so it's easy for me to understand how they are use and I was originally thinking `Logger.metadata` would just be merged into that.  It's not clear to me how `extra` context is used--can you explain?

What mi

[2017-03-16 17:48] myronmarston commented on #137
I quite like it!  One potential issue: since the `Logger.metadata` is stored in the process dictionary, that function will have to be called from the process from which the event originates.  If it gets called in a spawned task (or whatever), `Logger.metadata` will be empty.

I'm also not sure if the lambda form will ever work for people who deploy their app as releases with a tool like ExRM or di

[2017-03-16 18:11] mitchellhenke commented on #137
We allow for setting tags context on a global basis through config, but otherwise both `Sentry.Context` and `Logger.metadata` are limited to in-process storage without much we can do on the Sentry side as far as I understand.

I 100% agree MFA should be the primary option, and much prefer your naming.

Thank you for taking the time to discuss and help me work this out!  I plan on putting a PR toge

[2017-03-16 18:23] myronmarston commented on #137
Right, there's definitely not much you can do in general, but there is something you could do that would make this solution completely unusable for our use case: wait to use this configured function until you are in the [spawned task](https://github.com/getsentry/sentry-elixir/blob/9077b52c5b25f257d53f58126d671343471b4142/lib/sentry/client.ex#L33) that is used to send events to sentry in the backg

[2017-03-16 18:32] mitchellhenke commented on #137
Yep, sorry, I didn't communicate it well.  That's the plan.

[2017-03-23 14:11] hauleth opened #140 "Optimize breadcrumb list creation"
Currently this is done by appending to the end of the list [source](https://github.com/getsentry/sentry-elixir/blob/9077b52c5b25f257d53f58126d671343471b4142/lib/sentry/context.ex#L64) which is quite inefficient due to list construction. Instead we should append to the beginning and reverse list only when needed. This should provide some performance gain, allow simple removal of breadcrumbs and wou

[2017-03-23 16:35] #125 closed

[2017-03-23 19:43] #140 closed

[2017-03-23 20:07] #137 closed

[2017-03-25 01:03] monicao opened #144 "RuntimeError not showing up in Sentry log"
sentry_version: 3.0.0
erlang: OTP 19/erts-8.3
elixir: 1.4.1

I noticed that certain errors don't get reported by sentry.
For example, I can see this error in my server log, but it does not show up in the sentry error list.

This error was raised as a RuntimeError as `raise "Could not retrieve resource from Stripe."`

I have `use_error_logger` set to true. I tested that the `ThisWillError.real()` e

[2017-03-28 13:02] mitchellhenke commented on #144
Hi, thanks for reporting this!

Do you know if other errors within Phoenix channels report properly?

[2017-03-29 00:35] monicao commented on #144
I'll try it out in a bit and let you know.

[2017-03-31 04:52] monicao commented on #144
Tested generating an `UndefinedFunctionError`.

[code]

This error is reported in the server log, but the error does not show up in sentry.

[code]

[2017-04-09 04:34] imranismail opened #148 "Do not truncate error message"
I have an Ecto.InvalidChangesetError on my production app and it truncates the Ecto error message making it very difficult to debug.

[2017-04-10 14:20] mitchellhenke commented on #148
Thanks for opening this.  Can you share what the truncated error appears as?

[2017-04-10 14:41] mitchellhenke commented on #144
What version are you on?  I'm able to get notifications of exceptions within Phoenix channels, so perhaps there is a configuration issue?  Can you gist your configuration?

[2017-04-11 06:05] imranismail commented on #148
Here's an excerpt from Sentry, as you can see I am unable to pinpoint the validation error because the message was truncated.

[code]

[2017-04-11 23:16] mmartinson commented on #144
I'm not certain that it's the same issue, but my colleague and I were both having issues with RuntimeError reporting as well. Him in a Phoenix channel, and me in a non-phoenix mix application (not behind a plug). I found that the problem was that the logging backend is not being added :error_logger.

When I run `:error_logger.add_report_handler(Sentry.Logger)` in my Application.start function expl

[2017-04-12 03:29] imranismail commented on #148
I have a feeling the cause could be Elixir truncating it and not Sentry, will test further

[2017-04-13 06:52] monicao commented on #144
@mmartinson Thanks, that totally worked!

@mitchellhenke I am on version 3.0.0. Here is a link to a gist with my config and the controller code I was using to reproduce the issue. It looks like this problem was not restricted to exceptions in phoenix channels.

Let me know if I can provide any additional info.

[2017-04-14 18:42] mitchellhenke commented on #144
I was able to reproduce it, but not consistently.  You can check if it's running with:

[code]

It seems like it might be related to using Erlang releases/distillery, but I'm not 100% sure.
If you have the time, could you run the code above and confirm that it is indeed not running?  If it's not in the handlers, could you run your application via Mix and check the handlers that way as well?

Depen

[2017-04-21 18:31] jeregrine opened #151 "Update Getting Started Docs to include Required default Config"

[2017-04-24 08:43] hdra opened #152 "Allow some error type to be excluded from logging"
Similar to how `FunctionClauseError` and `Phoenix.Error.NoRouteError` is ignored from reporting, it would be very useful to allow other types of error such as authentication error to be excluded from reporting as well.

Frameworks like [Laravel](https://laravel.com/docs/5.4/errors#report-method) have a `$dontReport` attribute in its exception handler that can be used with Sentry to exclude certain

[2017-04-24 12:29] mitchellhenke commented on #152
Does the `Sentry.Filter` behaviour solve this?  https://hexdocs.pm/sentry/Sentry.html#module-filtering-exceptions

[2017-04-24 12:57] hdra commented on #152
Actually, I think that would. Sorry, wasn't aware of that option. Thank you.

[2017-04-24 12:57] #152 closed

[2017-04-24 13:10] mitchellhenke commented on #152
@hdra no worries, it isn't mentioned in the README.  I should at least add a link to it.

[2017-04-26 19:59] mpiercy827 opened #154 "Sentry.Plug not sending request body on error"
I'm having an issue with the `Sentry.Plug` where the incoming request body is not being sent on errors.

In the `handle_errors/2` method of the Plug, the `params` field of the connection is a `Plug.Conn.Unfetched` struct, even though the params have been fetched (and used earlier in the request lifecycle).

When the `default_body_scrubber` tries to access the connection params, they are unfetched

[2017-05-15 14:58] mitchellhenke opened #156 "Use stacktraces on exit"
Creating an issue to track https://github.com/erlang/otp/pull/1448 and use it if it gets merged for Erlang 20

[2017-05-15 19:26] SimonWoolf commented on #83
In case it's helpful to anyone else coming across this issue: I made a drop-in Sentry logger backend - [github](https://github.com/simonwoolf/sentry-logger-backend), [hex package](https://hex.pm/packages/sentry_logger_backend).

(sentry-elixir devs: I'd be very happy if you want to include it the main package -- just say the word and I'll do a PR. Equally, if you'd rather it be kept a separate pac

[2017-05-16 15:51] mitchellhenke commented on #83
@SimonWoolf For now, my feeling is that the current Logger backend is a more important focus for us.  Your package clearly fills a need, but for now I think they can co-exist separately.  I will link to it in the README though.

Thanks! 🙂

[2017-05-23 14:39] mitchellhenke opened #161 "Create map from Event struct before encoding to JSON"
Related to #160

[2017-05-30 21:34] DavidAntaramian opened #163 "`if Code.ensure_loaded?(Plug)` in Sentry.Plug has unintended implications"
This is probably a case where more documentation is simply needed, but the `if(Code.ensure_loaded?(Plug), do:` line in the [Sentry.Plug](https://github.com/getsentry/sentry-elixir/blob/4.0.2/lib/sentry/plug.ex) module can cause builds to not include `Sentry.Plug` when Sentry is compiled individually.

Background:

At Timber, we have enabled the source code reporting for errors, and as part of that

[2017-05-30 21:48] mitchellhenke commented on #163
Thanks for opening this issue ❤️

The `Code.ensure_loaded?/1` is a common pattern, but I'm not sure of any alternatives that could avoid this.  It seems that the only options would be the solution you're using now or doing something like `mix do clean, compile`?

[2017-05-31 18:17] DavidAntaramian commented on #163
I think that `mix do clean, compile` would probably be safer, though obviously it's going to take longer to compile.

I'm wondering if it's possible to have the source collection done as a separate mix task instead of part of the build process for those of us that don't include sources. The other option is to remove source code tracking altogether.

[2017-06-02 16:57] mitchellhenke opened #164 "Support Sampling"
https://github.com/getsentry/raven-python/pull/978/files

[2017-06-02 16:58] mitchellhenke opened #165 "Support In-App Frames"
To distinguish which frames are in the application vs. libraries or Elixir core

[2017-06-02 16:58] mitchellhenke opened #166 "Post-send Hook"

[2017-06-11 22:48] thurloat opened #168 "Source code scan in build step scans entire disk if project root dir is /"
May not be a huge bug -- but when building a docker build-step container for my elixir project, the compilation would spin continuously on compiling this line https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry/event.ex#L30 because I added my source code to `/` in my docker container (bad practice obviously).

It would never complete once it hit `/proc` because it recursively followe

[2017-06-11 23:02] mitchellhenke commented on #168
Hey, thanks for opening this!  Something like this crossed my mind as possible, but I'm not super sure how to best mitigate a problematic config :/

[2017-06-14 15:02] DavidAntaramian opened #169 "** (exit) :undef consolidation"
I'd like to understand if there's a better way to consolidate errors with the Sentry library. Early this morning we had an issue in our staging system where a function being called was undefined.

The Sentry error header looked like this:

[code]

The function was being called based on elements in a queue, resulting in over 1000 errors. Since Sentry identifies the error based on its header, and th

[2017-06-14 15:21] mitchellhenke commented on #169
https://docs.sentry.io/learn/rollups/ is Sentry's documentation for this.  In this case, I think grouping would be based on the `exception` and `stacktrace`.

If stacktrace is the same, the exception object is probably different?

`exception` has type, value, and module attributes.  Are those distinct?

There's something in there that sentry-elixir can potentially handle better.

[2017-06-14 15:36] DavidAntaramian commented on #169
The problem may be how `function` is being determined in the stacktrace:

[code]

The very last entry in the stack trace is showing the function call rather than the function name.

[2017-06-14 15:37] DavidAntaramian commented on #169
I'm assuming this is a deficiency in how the `:error_logger` report is being sent.

[2017-06-14 17:11] mitchellhenke commented on #169
What Erlang version are you on?

[2017-06-14 17:21] DavidAntaramian commented on #169
19.3

[2017-06-14 17:53] mitchellhenke commented on #169
The stacktrace from error_logger looks like:

[code]

It only has the argument values for the culprit function, but we could just take the length of that list instead.

[2017-06-14 18:03] DavidAntaramian commented on #169
That may actually be ideal. Plus reporting that based on arity instead of function would bring it in line with how all the other elements of the stacktrace are reported:

[code]

[2017-06-14 18:04] DavidAntaramian commented on #169
It's slightly manipulative, but I think it provides a better user experience

[2017-06-14 18:10] mitchellhenke commented on #169
yep.  and the argument values won't get lost as they'll still get reported as `culprit`

[2017-06-14 20:26] waj opened #172 "Async tasks"
Currently `Sentry.Client` makes use of `Task.Supervisor.async_nolink` to dispatch the events. However this will send a message back to the process sending the event with the result once delivered. This might be an issue when the caller is not expecting the async result.

For example, I found this issue when a GenServer sends a Sentry message, but the `handle_info` implementation doesn't consider a

[2017-06-14 21:21] mitchellhenke commented on #172
Hey, thanks for opening this!

This is hard because `async_nolink` allows users to read the result of the task to get the Sentry Event ID or see if there was an error sending the event.  `start_child` doesn't allow that.

The docs for sentry-elixir around this issue will be updated to make people aware, but I'm not sure on the best path forward as we have to allow for checking the result.

It's wo

[2017-06-15 00:21] waj commented on #172
I can see three different scenarios:
  * Receive the result asynchronously (using either `Task.await` or by receiving the message)
  * Receive the result synchronously (block the caller)
  * Ignore the result

Maybe the `Sentry` APIs could receive an optional argument to specify how to get back the result. How about something like:
[code]

Then I vote to have `:none` as default :-)

[2017-06-15 18:15] #169 closed

[2017-06-15 18:39] mitchellhenke commented on #172
@waj That was along the lines of what I was thinking.  I will put together a PR soon!

[2017-06-27 16:09] #172 closed

[2017-06-27 16:15] mitchellhenke commented on #172
closed in #174, but I decided to keep `:async` as the default for now.

[2017-06-27 18:41] #166 closed

[2017-06-27 21:34] #164 closed

[2017-06-29 14:45] #165 closed

[2017-06-29 15:31] mitchellhenke opened #178 "Config via DSN Query String"

[2017-06-29 15:32] mitchellhenke opened #179 "Config via System Environment"

[2017-06-29 21:12] mitchellhenke opened #181 "Support modules"
https://docs.sentry.io/clientdev/attributes/

[2017-07-05 15:36] #178 closed

[2017-07-05 15:37] mitchellhenke commented on #179
Closed in #180

[2017-07-05 15:37] #179 closed

[2017-07-06 14:51] #181 closed

[2017-07-14 14:41] KamilLelonek opened #183 "mix deps.compile fails"
I cannot compile my code with `sentry`:

[code]

[code]

[code]

[2017-07-14 16:18] mitchellhenke commented on #183
@KamilLelonek thanks for opening this!  Unfortunately, I'm not able to reproduce the error with that configuration.  Did this configuration work in the past and break when you updated to `5.0.0`?

[2017-07-14 16:19] KamilLelonek commented on #183
I started with `5.0.0` and it broke immediately. I haven't tried any other versions.

[2017-07-14 16:25] KamilLelonek commented on #183
`4.0.3` fails as well:

[code]

[2017-07-14 16:34] KamilLelonek commented on #183
I tried to explicitly list `:sentry` in `applications` or `extra_applications` but nothing changed.

[2017-07-14 16:40] mitchellhenke commented on #183
@KamilLelonek hmm, this sounds as though there's a configuration issue somewhere.

A few more questions if you don't mind.  What version of Elixir are you on?  Is the file above the prod configuration in `config/prod.exs`?  What's in your `config/config.exs`?   What command are using to compile?

[2017-07-14 16:41] KamilLelonek commented on #183
1. `Elixir 1.4`
2. `config/config.exs`
3. `mix do deps.get, deps.compile`

[2017-07-17 14:36] mitchellhenke commented on #183
@KamilLelonek I put the config in a new Phoenix 1.3 project [here](https://github.com/mitchellhenke/sentry_testing), but was unable to reproduce.  If you could look over the config and see how it compares to yours, that would be super helpful in trying to track this down.

[2017-07-17 15:17] KamilLelonek commented on #183
Sure, I'll let you know soon.

[2017-07-17 16:43] scottmessinger opened #184 "[warn] Unable to notify Sentry"
When I add this line to my channel action: `Sentry.Context.set_extra_context(%{payload: "hi"})` and then trigger an error with `1 = 2`, I get this error in the console:

[code]

[2017-07-17 19:00] mitchellhenke commented on #184
@scottmessinger thanks for finding this bug 💖

I've opened #185 to fix it, and will likely push a new release after it gets merged.

[2017-07-18 18:56] mitchellhenke commented on #184
Closed in #185 and released in `5.0.1`

[2017-07-18 18:56] #184 closed

[2017-07-19 14:49] mitchellhenke commented on #183
Played around a bit with https://github.com/mitchellhenke/sentry_testing/pull/1, and I'm admittedly not too familiar with Docker, it looks like it may not have the `config/` folder available when trying to compile.  Adding `COPY config/*.exs ./config/` fixed it for me, though you then run into similar issues as #168 since `root_source_code_path` being set to `File.cwd!` will result in it being set

[2017-07-19 14:51] KamilLelonek commented on #183
OK, I'll check if that's the problem, and will confirm here.

[2017-07-19 18:02] KamilLelonek commented on #183
So I added:

[code]

before

[code]

and it hangs on:

[code]

[2017-07-19 18:15] mitchellhenke commented on #183
right, this is a separate issue.  #168 describes the problem in that since it recursively reads files at compile time in the root project directory when you use `File.cwd!`, it means it's going to read through all of the files in the Docker root directory, which will take some time.

The project should be copied into its own directory to avoid this.

[2017-07-19 18:24] KamilLelonek commented on #183
Ah, OK, let me try it then.

[2017-07-19 18:38] KamilLelonek commented on #183
It seems that adding:

[code]

fixes the problem!

[2017-07-19 18:38] #183 closed

[2017-07-19 19:23] mitchellhenke opened #187 "Consider not requiring `:enable_source_code_context` configuration"
Could just default to `false` I would think

[2017-07-27 20:23] ryan-mahoney opened #188 "Question: Calling Sentry from Long Running Process"
I have a function that is called both by a short-lived phoenix process and by a other longer running process that are not invoked via a web request.

This function adds extra context (with unique key values) every time it is called.

My question is... when this is called from a long-running process... is the process dictionary just going to grow and grow since it will never be purged?

Thanks!

[2017-07-27 20:30] mitchellhenke commented on #188
@ryan-mahoney From what it sounds like, yep.  The long-running process will continue adding to its process dictionary.  It's difficult to say if it will grow to the point of being problematic though.

[2017-07-28 14:18] ryan-mahoney commented on #188
Thanks for your answer -- that is what I saw in the code, but I just wanted to be sure.

What I've decided to do is count the number of messages that I've put into the process table for sentry. When the count get's above a certain threshold, I purge the table.

I expect that this approach will have low overhead and it will prevent the possibility of a slow memory leak from becoming a problem.

[2017-07-28 14:25] mitchellhenke commented on #188
Glad to help clarify!

Your solution sounds good to me, but if there's ever something Sentry can do to make it easier going forward, I'd be happy to make it happen.  For now though, I'll close this issue 🙂

[2017-07-28 14:25] #188 closed

[2017-07-31 12:37] manukall opened #189 "only top level params are scrubbed by default"
the default body scrubber only sanitized top level params. i think it's quite common to have even sensitive parameters nested, like
[code]
for a login page.

in my opinion, it would be great if the default scrubber would handle those cases. especially because this is quite a sensitive and dangerous issue and people might not be aware.

[2017-07-31 19:46] mitchellhenke opened #190 "Remove :use_error_logger configuration"
Received another report along the same lines as #144, where setting `use_error_logger: true` did not set up the handler properly.  Adding `:error_logger.add_report_handler(Sentry.Logger)` into the user's application start method resolved it, so we'll just have to remove this: https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry.ex#L105-L107

and update documentation.

[2017-07-31 20:24] mitchellhenke commented on #189
@manukall Thanks for opening this.  Definitely a common use case and one I did not consider.  I should be able to take care of this soon!

[2017-08-03 17:48] mitchellhenke opened #194 "Avoid raising on malformed DSN"
Should just log error

From #191

[2017-08-04 00:15] RobinClowers commented on #190
That would be great, I was just bitten by this as well.

[2017-08-05 08:00] samphilipd opened #195 "Unable to notify Sentry when using Ace web server"
I am using the [Ace](https://github.com/CrowdHailer/Ace) webserver. When I get a crash, Sentry fails to report the error.

Here is the full log output:
[code]

Here is the truncated line:
[code]

[2017-08-07 15:25] mitchellhenke commented on #195
@samphilipd thanks for opening this!  I should be able to fix this shortly.

[2017-08-07 15:27] mitchellhenke commented on #190
@RobinClowers Thank you, it's good to know it's a bigger issue than I initially thought.  This is at the top of my list.

[2017-08-07 16:26] samphilipd commented on #195
@mitchellhenke great, thanks! Let me know if you need any more info, code samples etc.

[2017-08-08 08:38] jeroenbourgois commented on #183
Same problem here, but I am using Elixir 1.5.0. I tried to the test project of @mitchellhenke but still having the same errors. Also using Phoenix 1.3

[2017-08-08 14:18] mitchellhenke commented on #183
@jeroenbourgois are you using docker?

[2017-08-08 17:32] luisalima commented on #183
I'm having the same problem (not using docker), with Phoenix 1.3 and Elixir 1.5. I tried with Phoenix 1.2 and Elixir 1.3 before, also failed.

Here is the diff, for Phoenix 1.3, Elixir 1.5:

[code]

[2017-08-10 06:30] jeroenbourgois commented on #183
@mitchellhenke no, no Docker yet, just on my local machine

[2017-08-16 18:29] #189 closed

[2017-08-17 22:47] novaugust opened #198 "`server_name` is clobbered by metadata"
`server_name` is loaded from config when an event is created, and then [clobbered in `add_metadata/1`](https://github.com/getsentry/sentry-elixir/blob/598e59b0f6d6e1771b348496bd6372c9de4cbd37/lib/sentry/event.ex#L164), meaning its configured value is always ignored

[2017-08-20 16:18] manukall commented on #189
thanks!

[2017-08-21 14:56] #144 closed

[2017-08-21 14:56] #190 closed

[2017-08-21 15:45] mitchellhenke commented on #195
@samphilipd I'm having an issue reproducing this.  If possible, could you put together an example?

[2017-08-21 17:31] samphilipd commented on #195
@mitchellhenke what version of Ace are you trying with? I'm on 0.9.3

[2017-08-21 17:33] mitchellhenke commented on #195
@samphilipd I was on master, and used the example app provided in the Ace repository.

[2017-08-21 17:33] samphilipd commented on #195
Oh! I just checked and it must have been fixed. Because it seems to be working now.

I guess this issue can be closed.

[2017-08-21 17:35] mitchellhenke commented on #195
@samphilipd cool, glad to hear!  Thanks again for taking the time to open an issue.

[2017-08-21 17:35] #195 closed

[2017-08-25 09:48] chalmagean commented on #151
What config is that?

[2017-08-25 10:01] chalmagean commented on #183
Adding `enable_source_code_context: false` seems to fix this issue. That option is a required config option, but admittedly not very obvious.

[2017-08-25 12:07] jeroenbourgois commented on #183
@chalmagean indeed that fixed it for us, thank you!

[2017-08-29 18:10] neektza commented on #183
I'm having the same problem. Elixir 1.4.4 & Phoenix 1.3 (rc-1), without Docker.

[2017-08-29 20:02] #198 closed

[2017-08-29 20:02] #187 closed

[2017-08-29 20:32] mitchellhenke commented on #183
@chalmagean @jeroenbourgois I've released [6.0.0](https://gist.github.com/mitchellhenke/ffe2048e708fd7dd32d8d0a843daddf3) that no longer requires `enable_source_code_context`.  If you have any suggestions on making error messages clearer, I'd be happy to improve them! 🙂

[2017-08-30 06:20] jeroenbourgois commented on #183
@mitchellhenke thank you!

[2017-09-06 14:16] hawksight opened #204 "Cannot send test event when filter applied"
Been having an issue where our application complains about an undefined function, when we have a filter applied to the sentry configuration.
In fact we have pretty much exactly the config as described here:
https://github.com/getsentry/sentry-elixir/blob/master/docs/index.rst#filtering-events

This only seems to occur when I use the following command: `mix sentry.send_test_event`
When running loca

[2017-09-06 16:07] mitchellhenke commented on #204
Thanks for opening this @hawksight, it definitely seems like there is a bug.  I will take a look into this and see where the issue is!

[2017-09-06 19:41] DavidAntaramian opened #205 ":error_logger.add_report_handler documentation issue"
We're preparing our upgrade to Sentry Elixir 6.0 at Timber, and we ran into an issue on the usage of `:error_logger.add_report_handler/1` with umbrella applications.

Because `:error_logger` is implemented as a `:gen_event` manager and [`:error_logger.add_report_handler/1`](https://github.com/erlang/otp/blob/master/lib/kernel/src/error_logger.erl#L269) is a lightweight wrapper around `:gen_event.a

[2017-09-06 22:01] mitchellhenke commented on #205
@DavidAntaramian This is a great catch, thank you! ❤️ 💖

I'll update docs soon.

[2017-09-06 22:52] mitchellhenke commented on #204
I've opened https://github.com/getsentry/sentry-elixir/pull/206 which should fix this issue.  Once it's been finalized and merged, I'll do a point release.

[2017-09-06 23:27] #204 closed

[2017-09-07 08:23] manukall opened #207 "Sentry.Plug.scrub_map/1 fails when a %Plug.Upload{} is in the params"
[code]

[2017-09-07 09:27] hawksight commented on #204
Thank you @mitchellhenke - tested this morning and works perfectly now.

[2017-09-08 08:17] samphilipd opened #209 "Sentry client should log exception ID"
As a developer I would like to quickly and easily grep the application logs for an exception. Currently I have to do this by timestamp which sometimes doesn't match exactly.

I would like to be able to grep the logs for the Sentry event id (e.g. `c112dcfedc2d4b528ab45583608c040b`) so I can easily find the exception logging output.

[2017-09-08 08:17] samphilipd opened #210 "Sentry client truncates "culprit" field in JSON"
Here is an example "culprit" send from our app:

`"CloseIO.HTTPClient.handle_response({:ok, %HTTPoison.Response{body: %{\"field-errors\" => %{\"phones\" => %{\"0\" => %{\"phone\" => \"Phone number is not valid. Please use the international format like +1650..."`

As a developer I would like to see the full, untruncated culprit message in the JSON to allow for easier debugging in case logs are not

[2017-09-08 15:48] mitchellhenke commented on #209
Thanks for opening this issue!  The best way to do this might be using the [:after_send_event](https://hexdocs.pm/sentry/Sentry.Client.html#module-configuration) hook.  Would that work for your use case?

[2017-09-11 07:50] samphilipd commented on #209
@mitchellhenke That's perfect! Thank you. Although I am surprised that Sentry does not log the exception ID by default.

One more question - in the example hook it shows how to add logging for when Sentry fails to send an event. Does this mean that is not logged by default?

[2017-09-11 09:16] samphilipd commented on #209
@mitchellhenke I tried to implement the anonymous functions in the config as shown in the documentation you linked. Sadly this is not compatible with distillery. Attempting to release fails with an error.

Reason for this is that you can't have anonymous functions in config - see this issue: https://github.com/bitwalker/distillery/issues/185

Do you have any other suggestions for us?

[2017-09-11 14:00] mitchellhenke commented on #209
@samphilipd we do our best to provide good defaults, but differing use cases make this hard.  As an example, some use Logger itself as a source of reporting errors.  It can certainly be worked around, so if there are many users where this is an issue, it can be revisited, but the flexibility to choose Logger level and format on a per event basis feels like the best path for now.

A `{module, funct

[2017-09-11 14:03] #207 closed

[2017-09-11 14:28] mitchellhenke commented on #210
This is a limitation on the server side of Sentry here, which will limit culprit to 200 characters: https://github.com/getsentry/sentry/blob/master/src/sentry/constants.py#L72

Technically, the culprit is supposed to be just a function call (absent any args) ([link to sentry doc](https://docs.sentry.io/clientdev/attributes/#optional-attributes)), but as Elixir is different in that the args also pl

[2017-09-11 15:11] samphilipd commented on #209
Doh! Missed that part of the documentation. Anyway, thanks for the help, this seems to be working now.

[2017-09-11 18:24] mitchellhenke commented on #209
No worries! 🙂

If you run in to any other issues, feel free to open an issue.

[2017-09-11 18:24] #209 closed

[2017-09-12 11:02] hauleth opened #212 "Not all "breaking changes" are truly breaking"
Neither of these was "breaking change" in sense of semver:

- #201
- #172

Booth of these was backward compatible changes and [according to semver](http://semver.org/#spec-item-7) this should be minor version bump.

Such rapid major version bumping makes it hard to follow them in our projects and is quite inconvenient.

[2017-09-12 11:05] hauleth commented on #212
Since version 4.0 there was only one truly breaking change and honestly I would do this in 2 step change. Firstly add new functionality and documentation to use new way for defining #190 and make deprecation warning for old option (minor version bump) and then after grace period remove option and bump major version.

[2017-09-12 16:26] mitchellhenke commented on #212
@hauleth Thanks for opening this.  The feedback (and your past contributions) are very appreciated.

First, apologies for any inconvenience from the breaking changes.  #174 does unfortunately break backward compatibility they way I ended up doing it for those using a custom HTTP client, as the public `@behaviour` changed in arity.  I had some hesitation in bumping the major versions for `5.0.0` an

[2017-09-13 09:26] redink opened #213 "should args act the role in culprit info to aggregate report ?"
Hello,

When I using sentry dashboard, I met trouble about aggregating error report. In short, when I capture the exception (or message), different args will not aggregate together, just like:

[code]

these exception will not aggregate together but just like:

[code]

After scanned the source code, I noticed that

https://github.com/getsentry/sentry-elixir/blob/9cdfaac2465494aab31195d0705aa59fc7f

[2017-09-19 03:46] redink commented on #213
@mitchellhenke ping ?

[2017-09-19 12:21] mitchellhenke commented on #213
@redink yep, this is something I'll be working on next.  It's somewhat related to #210 as well.

[2017-09-20 02:28] redink commented on #213
Thanks.

[2017-09-21 14:46] luisalima commented on #183
@mitchellhenke version 6.0.0 worked for me, thank you! 👍

[2017-09-24 11:45] asd1o2487c opened #215 "Fails if the request has Plug.Upload when an exception happens"
since protocol Enumerable not implemented for `%Plug.Upload{}`

[2017-09-24 14:42] mitchellhenke commented on #215
Thanks for opening an issue! ❤️

This was fixed in #208. Once I merge #214, I'll cut a new release that includes the fix.

[2017-09-24 14:42] #215 closed

[2017-09-25 07:49] mkaszubowski opened #216 "Problems with hackney"
Hello,

I think it's good idea to consider dropping hackney as a http client. There seems to be an issue with it not returning the connections to the pool. This causes the other processes to freeze on `checkout` function infinitely (there's an `timeout: :intinity` option on `checkout`). I think the issue is discussed here: https://github.com/benoitc/hackney/issues/183.

Right now, on the productio

[2017-09-27 13:23] mitchellhenke commented on #212
@hauleth Again, I'm glad to have the feedback and contributions. I'll make sure we do better on this front moving forward, but I'll be closing this issue for now. 🙂

[2017-09-27 13:23] #212 closed

[2017-09-27 14:20] mitchellhenke commented on #216
Thanks for opening this issue 💖

What version of Sentry/hackney are you on?  It looks like the issue (which was turned into https://github.com/benoitc/hackney/issues/276) was closed around the middle of last year, and other libraries have been using hackney pools with less issue.

[2017-09-27 14:25] #210 closed

[2017-09-27 14:25] #213 closed

[2017-10-03 19:48] #205 closed

[2017-10-16 23:02] #154 closed

[2017-10-17 17:50] mitchellhenke commented on #216
Closing this for inactivity. Happy to re-open if there is more information 🙂

[2017-10-17 17:50] #216 closed

[2017-10-18 10:06] jalcine opened #220 "Can't Run Tests Locally"
Running Elixir 1.5.2 on Erlang 20 gives me this off a master build:

[code]

Though not immediate visible in that stacktrace, I did see what the error message was for the first one:

![screenshot_20171018_020803](https://user-images.githubusercontent.com/452100/31712949-7c948124-b3b1-11e7-8c73-82b9fe1fcf44.png)
Looks like a hard check on the line numbers used in ExUnit; something shifted in 1.5.x

[2017-10-18 21:02] mitchellhenke commented on #220
@jalcine hey, thanks for opening this 🙂

The first test is (one of) the tests that is hardcoded and brittle when it comes to different versions.

I have tried to make them more flexible, but important parts of stacktraces get changed between versions.  [This test](https://github.com/getsentry/sentry-elixir/blob/master/test/logger_test.exs#L90) is an example.  The method `NaiveDateTime.from_erl/2`

[2017-10-18 21:07] jalcine commented on #220
I have a small patch in the works at the moment that could take care of this.

[2017-10-19 00:16] jalcine commented on #220
Just completed and cleaned up the changes in PR #221.

[2017-10-19 00:20] jalcine opened #222 "Support Confex for Configuration"
Disclaimer: I'm new to using Elixir for production applications and attempting to follow best industry practice.

I've noticed that on Elixir Forum, people suggest using [Confex][] to handle the act of configuration loading (in tandem with tools like Distillery, exrm et al). I'm aiming to see if this is something y'all like to support implicitly? I'm happy to open a PR for this.

[confex]: https:/

[2017-10-20 06:27] jalcine commented on #222
This is blocked by #221 btw.

[2017-10-20 14:56] mitchellhenke commented on #220
Closed by @jalcine #221

[2017-10-20 14:56] #220 closed

[2017-10-20 15:08] mitchellhenke commented on #222
Sentry does support `{:system, "ENV_KEY"}` to load config from the environment at runtime.  I don't have the fullest understanding of Confex within the context of distillery, though I know it offers more flexibility for configuration beyond `{:system, "ENV_KEY"}`.

I'm somewhat wary of adding a dependency or managing an optional dependency, though I'm not entirely opposed.  I'd prefer to try and s

[2017-10-23 11:50] lidashuang opened #223 "How to ingore Discarded invalid value for parameter 'stacktrace' ?"
sentry admin:

![image](https://user-images.githubusercontent.com/612381/31887511-441a68b6-b7be-11e7-8665-93aa5d344eae.png)

The event inspect from `create_event`
[code]

event json

[code]

[2017-10-23 23:14] jalcine commented on #222
Yeah, it allows you to specify the type of the value you're aiming to import. However, looking closer, this is something I can implement in my client application and not have to push this dependency upstream.

[2017-10-23 23:28] jalcine commented on #223
I'm seeing this error as well but moreso wanting to know _why_ this happens and how to get my stacktrace in thee.

[2017-10-24 16:43] mitchellhenke commented on #223
@lidashuang thanks for opening this!

@jalcine This error should only show for empty stacktraces.  If you see it in other cases, let me know.  As far as including stacktraces, `Sentry.Plug` and `Sentry.Logger` should both do it automatically.  If you're sending events yourself, https://github.com/getsentry/sentry-elixir/#capture-exceptions shows an example of including the stacktrace.

[2017-10-24 16:43] mitchellhenke commented on #223
I've opened #224 to fix this.

[2017-10-30 10:56] samphilipd opened #225 "Sentry client filters GraphQL query in body"
For debugging I'd like to see the full GraphQL query, but it's filtered like this:

### Body
[code]

[2017-10-30 15:17] mitchellhenke commented on #225
@samphilipd thanks for opening this!  I have a few questions.

Is this from a Sentry.Plug, Sentry.Logger, or a manually reported event?

By default, `Sentry.Plug` will scrub any keys with `["password", "passwd", "secret"]`, and replace it with ` "*********"`.

Is this an entry from the logs?  I ask because it looks like it may be from [Phoenix.Logger](https://hexdocs.pm/phoenix/Phoenix.Logger.html

[2017-10-30 15:48] samphilipd commented on #225
Sentry 6.0.2

This error was logged by `Sentry.Plug`.

This is not from the logs, it is from the Sentry panel:

<img width="264" alt="screen shot 2017-10-30 at 15 47 54" src="https://user-images.githubusercontent.com/4147639/32180389-bc30c658-bd89-11e7-94df-21f20d50ee57.png">

[2017-10-30 15:48] #161 closed

[2017-10-30 15:48] #223 closed

[2017-10-30 15:57] mitchellhenke commented on #225
It appears this may be a result of Sentry server functionality, with the potentially related issue being [this one](https://github.com/getsentry/sentry/issues/3202).  I unfortunately don't think there's much we can do from within sentry-elixir.

[2017-10-30 15:59] samphilipd commented on #225
Hmm. Our URL does not contain an access_token param so this seems unrelated

[2017-10-30 16:02] mitchellhenke commented on #225
Could you share a query that causes it to be filtered?

[2017-10-30 16:06] samphilipd commented on #225
It's a very large graphQL query. Endpint is `/graphl` with no query params. Body is huge... will it help for me to include it all here?

[2017-10-30 16:08] mitchellhenke commented on #225
@samphilipd yep, it would be super helpful to have something I can test with and reproduce.

[2017-10-30 16:16] samphilipd commented on #225
Here is the body:

[code]

[2017-10-30 16:36] mitchellhenke commented on #225
Sentry suggested trying marking the query field as "safe" in your project settings, or disabling the default data scrubbers, pictured here:

![image](https://user-images.githubusercontent.com/1430443/32183110-67a227f8-bd66-11e7-8291-dba6217ec0a4.png)

[2017-10-30 16:44] samphilipd commented on #225
OK! I will try that, thanks.

[2017-11-01 17:59] mitchellhenke commented on #225
@samphilipd did that solve the problem?

[2017-11-01 18:08] mitchellhenke commented on #148
I think this has been fixed in https://github.com/getsentry/sentry-elixir/pull/214.  If it hasn't, please let me know and I can reopen this 🙂

[2017-11-01 18:08] #148 closed

[2017-11-03 21:09] jalcine commented on #222
Closing this out. For those in the future interested, doing `Confex.resolve_env!(:sentry)` will fix this issue I ran into.

[2017-11-03 21:09] #222 closed

[2017-11-03 21:10] jalcine commented on #156
What else is needed here?

[2017-11-05 05:08] jalcine opened #226 "Add error dump in Mix test task"
### Environment

* Elixir version (elixir -v): 1.5.2
* Erlang/OTP version (erl): 20
* Sentry version (mix deps): 6.0.3
* Operating system: Alpine Linux

### Description

When running `mix sentry.send_test_event`, it's possible for networking issues to occur. I've run into the case where sending a test event results in a failure. However, as shown [here][1], it isn't handled.

### Expected Behavior

[2017-11-06 08:43] samphilipd commented on #225
@mitchellhenke Yes that fixed it! Thank you for all your help ❤️ 💛 💙 💚 💜

[2017-11-06 08:43] #225 closed

[2017-11-06 13:41] mitchellhenke commented on #225
@samphilipd awesome, thank you for your help in solving it!

[2017-11-07 15:19] mitchellhenke commented on #156
I had forgotten about this, thanks for reminding me 🙂

I think this may be outdated as I saw news before Erlang 20 was released about stacktraces on exits.  It appears it is only related to logger output (OTP-14089): [Erlang 20 release notes](http://erlang.org/download/otp_src_20.0.readme), and so isn't something Sentry could potentially make use of.

[2017-11-07 15:19] #156 closed

[2017-11-07 15:20] mitchellhenke commented on #226
Thank you for the excellent bug report.  I will take a look at this!

[2017-11-07 19:49] jalcine commented on #226
You're welcome! Your template helped a lot.

[2017-11-09 22:28] doughsay opened #227 "Dynamic configuration using environment variables"
### Environment

* Elixir version (elixir -v): 1.5.2
* Erlang/OTP version (erl): Erlang/OTP 20 [erts-9.1.2]
* Sentry version (mix deps): 6.0.3
* Operating system: macOS / Alpine Linux

### Description

We have multiple dynamic testing and staging environments that don't map to mix envs.  We run these other environments using docker images built with mix env "prod".

Additionally, some of these env

[2017-11-09 23:24] doughsay commented on #227
I've currently solved this problem using this workaround:

In my `application.ex` during boot, it dynamically sets the sentry config:

[code]

[2017-11-10 00:51] mitchellhenke commented on #227
Thanks for opening this!  It is an issue for the library to (try to) read an array from system env that will be a string or nil.  It should probably be comma-separated and split into a list or similar.  Would that help solve your issue?

My other question is around how dynamic the environments are.  Is it possible to have a more static set of `included_environments`, with `environment_name` being

[2017-11-10 01:18] doughsay commented on #227
Being able to set a comma separated string as the config variable would definitely solve my issue.

As for the dynamic nature of our environments, it certainly would be possible to hard-code a list of known environments (we don't create new ones that often), but I guarantee that the next time someone wants to create a new environment they're going to forget (or not know) that a code change needs t

[2017-11-14 09:16] xanderdunn opened #229 "No Events Show Up When Running Server"
### Environment

* Elixir version (elixir -v): 1.5.1
* Erlang/OTP version (erl): Erlang/OTP 20 [erts-9.0.5] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
* Sentry version (mix deps): 6.0.3
* Operating system: macOS 10.13.1

### Description
Full diff of changes to add sentry to my project:
[code]
`PUBLIC`, `SECRET`, and `PORT` are filled in with the

[2017-11-16 03:29] mitchellhenke opened #230 "Create CONTRIBUTING.md"
There isn't a document showing expectations or guidelines for contributions, but we should have one

[2017-11-16 03:33] mitchellhenke opened #231 "Add documentation around testing with Sentry"
Users include Sentry as part of their tests, to ensure an HTTP call is made certain scenarios.  Our tests use Bypass, so even just directing to those would be helpful.

[2017-11-16 09:59] madsheep opened #232 "Compile issues"
### Environment

* Elixir versions (elixir -v): 1.4.2, 1.4.5
* Erlang/OTP versions (erl): 18.2, 19.3, 20.1

* Sentry version (mix deps):  sentry 6.0.1 (https://github.com/getsentry/sentry-elixir.git) (mix)
  locked at 2733e70
* Operating system: ubuntu, osx

### Description
Every now and then sentry compilation will fail with following error:
[code]
On our CI server (circleci) this happens more of

[2017-11-16 16:08] mitchellhenke commented on #229
Thanks for opening this!

Everything does look correct.  Can you gist the endpoint or route?

[2017-11-16 17:15] mitchellhenke commented on #232
Thank you for opening this.  Apologies for the difficulties you're having, this is indeed odd.  I wasn't able to reproduce with those dependencies in a new project, and there isn't anything out of the ordinary going on in https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry/util.ex with macros, etc.

When you have a chance, can you investigate:

- Does it compile if you remove Sentry?

[2017-11-16 21:08] xanderdunn commented on #229
We don't have a router.  We have a single `/` GraphQL endpoint that receives all requests.  I've created a secret gist with our full endpoint.ex and sent the link to Kelly.  Let me know where to contact you directly if that will be easier.

[2017-11-16 21:34] maxguzenski opened #233 "Sentry.capture_exception error"
When I call Sentry.capture_exception inside a gen_stage consumer, I receive a error on logger.

[code]

[code]

[2017-11-17 18:03] mitchellhenke commented on #233
This is likely from the asynchronous request Tasks.

https://hexdocs.pm/sentry/Sentry.Client.html#send_event/2-options has more information on the different strategies for sending events.

`Sentry.capture_exception(ex, [stacktrace: System.stacktrace(), extra: %{}, result: :none])`
`Sentry.capture_exception(ex, [stacktrace: System.stacktrace(), extra: %{}, result: :sync])`
`Sentry.capture_exception

[2017-11-17 20:08] mitchellhenke commented on #229
@xanderdunn I'm not able to reproduce it locally from the gist. The config and code where you cause the error could help narrow it down as well. A full repo where I can test myself would be ideal, but I understand if that is difficult.

I can be contacted directly in the Elixir Slack (@mitchellhenke) if that is easier 🙂

[2017-11-17 20:35] mitchellhenke commented on #227
@doughsay I've opened #234 to do that, if you would like to take a look.  Otherwise, it will be  available in the next release.

[2017-11-17 22:34] #226 closed

[2017-11-17 22:40] #227 closed

[2017-11-20 12:08] madsheep commented on #232
Hi again,
Sorry for the radio silence - I've looked again into the issue over the weekend to confirm/reconfirm it. While at it, I've accidentally solved it :) It seems the root cause was firmly located between my ears.

The only way to actually get this issue was to use elixir version compiled on different OTP then the current one you are using. In our case we've managed to achieve this feat by us

[2017-11-20 15:21] mitchellhenke commented on #232
@madsheep Thanks for following up, I am glad to hear all was solved, and I've learned to recognize this error.

Thank you!

[2017-11-21 13:58] brandonparsons opened #235 "ignoreErrors like in Raven.js?"
Hi there,

I'm looking to filter out some errors from being reported to Sentry, the same way `ignoreErrors` works in raven.js.

Is this available in this lib?

[2017-11-27 15:39] mitchellhenke commented on #235
@brandonparsons awesome!

[2017-12-07 16:08] mitchellhenke commented on #233
If there's more I can do to help, please let me know, but I'll be closing this for now.

[2017-12-07 16:08] #233 closed

[2017-12-13 11:05] amencarini commented on #229
Hi @mitchellhenke, I'm having issues getting the Sentry error logger to send too.

I've put together a repo reproducing our scenario: https://github.com/amencarini/sentry-test

You can reproduce by doing:

[code]

Happens on elixir 1.5.1 and 1.6.0-dev. The `mix sentry.send_test_event` reports correctly.

[2017-12-13 11:16] amencarini commented on #229
If that helps, I tried to debug the situation a bit and it seems that this function head (`lib/sentry/logger.ex:49`) is never hit

[code]

[2017-12-13 17:25] mitchellhenke commented on #229
@amencarini thank you for the repo! I will take a look.

[2017-12-19 15:15] prem-prakash opened #240 "Unable to encode Sentry error - {:invalid, {nil, "users"}}"
### Environment

* Elixir version (elixir -v): 1.5.3
* Erlang/OTP version (erl): 20.1
* Sentry version (mix deps): 6.0.5
* Operating system:

### Description
Error when sending tuple error

Unable to encode Sentry error - {:invalid, {nil, "users"}}

### Expected Behavior
Encode tuple properly and send error to sentry

### Actual Behavior
Can't encode tuple error so does not send error to sentry

#

[2017-12-19 22:26] mitchellhenke commented on #229
Got a bit delayed, but planning on looking into this tomorrow.

[2017-12-20 14:38] amencarini commented on #229
Thanks for the update 😃

[2017-12-20 20:51] mitchellhenke commented on #229
@amencarini apologies ahead of time as this is a part of Phoenix I'm not super knowledgable on.

The Corsica plug being in the Endpoint instead of the Router means the error gets caught here: https://github.com/phoenixframework/phoenix/blob/8b8e11305079413fa8b3ace36d9871c0e4e63f7c/lib/phoenix/endpoint.ex#L691-L702

[code]

I will have to do some research on how we can handle this.

[2017-12-21 13:42] amencarini commented on #229
I see. Thanks for trying that out! We'll see if we can handle the situation differently.

[2017-12-21 16:05] mitchellhenke commented on #240
Can you give a short example? A tuple isn't encodable as JSON, but it should be handled in most cases.

[2017-12-21 16:14] mitchellhenke commented on #229
It's definitely solvable, but may require some heavier configuration when adding Sentry.

`Sentry.Plug` relies on `Plug.ErrorHandler`, but `Phoenix.Endpoint` doesn't work directly with that.  The `call/2` in the Endpoint is overridable, so you could add a similar `Sentry.capture_exception` in the `catch`, which may be what we have to do in Sentry.

I'll be exploring other options too, but hopefull

[2017-12-22 16:30] jeremyjh opened #241 "Documentation for Source Compiling is Incorrect"
### Environment

* Elixir version (elixir -v): 1.4.5
* Erlang/OTP version (erl): 20.1
* Sentry version (mix deps): 6.0.0
* Operating system: Mac OSX

### Description
In order to include updated source code in Sentry reports, Sentry itself must be recompiled. The documentation says this, but provides incorrect information about how to do so. Rather than run `mix do clean, compile` which only rebuil

[2018-01-02 17:05] mitchellhenke commented on #241
Thanks for opening this! I've opened #242 to fix this issue 🙂

[2018-01-12 21:03] jayceekay opened #244 "not seeing an error in sentry on socket join"
### Environment
* Elixir version (elixir -v):
`Elixir 1.5.2`
* Erlang/OTP version (erl):
`Erlang/OTP 20`
* Sentry version (mix deps):
[code]
* Operating system:
`macOS 10.12.6`

### Description
with my current configuration i can see errors produced from an http controller (a simple GET) using `raise "blah"` when i hit that endpoint, but the same doesn't go for channels when attempting to join a s

[2018-01-12 21:25] mitchellhenke commented on #244
Thanks for opening this, I really appreciate the detail! 💖💖💖

I should be able to take a look into this early next week 🙂

[2018-01-17 22:25] #241 closed

[2018-01-19 18:15] mitchellhenke commented on #244
@jayceekay Do you have `Sentry.Logger` configured? On the most recent Sentry version, I do get reports when I `raise` within a Channel `join`.

[2018-01-27 07:16] psagan opened #250 "Exceptions in spawned processes by "spawn" are not logged."
### Environment

* Elixir version (elixir -v): 1.6.0
* Erlang/OTP version (erl): Erlang/OTP 20 [erts-9.2]
* Sentry version (mix deps): 6.0.5
* Operating system: macOS High Sierra 10.13.3

### Description
In Elixir app:

`spawn(fn -> raise "Test 1" end)` <-- this one is not logged  to sentry
`Task.start(fn -> raise "Test 2" end)` <-- this one is logged properly to sentry

### Steps to Reproduce
exa

[2018-01-29 16:27] mitchellhenke commented on #250
Hey, thanks for opening this issue! 💖 ❤️

I've got it tracked down, and will put together a PR to patch it sometime this week. I'll likely also release a new version.

[2018-02-05 20:52] jeregrine opened #252 "Clarify README/Index.rst"
I'm setting up sentry in a new project and got some feeback on the readme/index.rst

- [ ] Show example of type system environment variable config
- [ ] Describe how to deploy to production with sentry code formatting
- [ ] Move "Alternative general configuration" to top of list as its the most common configuration

[2018-02-05 21:48] #250 closed

[2018-02-07 20:06] michaelstalker commented on #232
Sorry to comment on a months-old issue, but I was just able to replicate this error without mismatched OTP versions. Here is the error I got:

[code]

I compiled Sentry in [this Elixir 1.6.1 Docker image](https://github.com/c0b/docker-elixir/blob/089cab9aeb7e5ae1fec8cdc9cd308711e1855c4d/1.6/Dockerfile). The image uses Erlang/OTP 20.2.2. Since I'm using that image to compile both Elixir and Sentry,

[2018-02-07 20:18] mitchellhenke commented on #232
@michaelstalker thanks for the update, hopefully I can get to the bottom of it. Unfortunately, I'm not overly familiar with Docker. Is there a good way for me to reproduce this on my machine?

[2018-02-07 20:41] michaelstalker commented on #232
I'm not sure. To be honest, I've never reproduced it locally, either. I only get the error in Jenkins, and only intermittently.

[2018-02-07 23:16] michaelstalker commented on #232
I've been looking into Elixir's parallel compiler. It looks like [this line](https://github.com/elixir-lang/elixir/blob/v1.6.1/lib/elixir/lib/kernel/parallel_compiler.ex#L198) is failing to find a file:
[code]
and is returning `{:error, :enoent}`. I'm not quite sure why, in the context of the `ParallelCompiler` module, that's throwing a `MatchError`. We're pattern matching the result of `:elixir_c

[2018-02-08 18:31] atomkirk opened #253 "Is there a way to scrub cookies?"
I store the auth token in a cookie, would be nice to scrub those

[2018-02-08 21:13] mitchellhenke commented on #253
Hi! There isn't an easy way currently. Would configuration to enable/disable sending cookies be sufficient, or would more fine-grained control over specific cookie keys be most helpful?

[2018-02-08 21:15] mitchellhenke commented on #232
@michaelstalker Thanks for the effort on researching this. Has this happened with any other libraries that you've seen, or just Sentry?

[2018-02-08 21:28] michaelstalker commented on #232
Just Sentry.

[2018-02-08 21:31] atomkirk commented on #253
I would say everything helps with debugging so a callback like `default_cookie_scrubber` would be most helpful…

[2018-02-08 21:46] mitchellhenke commented on #232
Hmm, I will see if I can find someone with more Elixir/Erlang compiler knowledge than myself, as I'm not sure what a solution would look like.

[2018-02-08 21:50] michaelstalker commented on #232
I [posted](https://elixirforum.com/t/parallel-compiler-cannot-find-files-sometimes/12363) about the issue on the Elixir Forum, just in case it was a compiler issue. José Valim suggested running `mix deps.compile` with strace. I'm working on trying that now, but am running into some permissions issues in Docker.

[2018-02-27 15:33] #253 closed

[2018-02-28 20:29] #194 closed

[2018-02-28 20:31] #118 closed

[2018-03-01 20:20] novaugust opened #256 "Database Fingerprinting"
I'd like to collaborate on ideas for making fingerprinting more feasible for applications using the sentry error logger.

We recently upped our stack trace depth to 20 in production to help us dig up exactly where some of our DBConnection errors were coming from. While great for helping us find problem areas in code, it created a new problem: all our DBConnectionErrors are no longer being aggregat

[2018-03-02 09:48] josevalim commented on #232
The only thing I could think of that would justify this behaviour happening for sentry is if you are calling a macro or compiling a file that changes directory.

[2018-03-05 16:48] mitchellhenke commented on #256
hey @novaugust, thanks for opening this issue! I really appreciate the comprehensive explanation of the problem and use case.

Is this something that can be solved via the [before_send_event](https://hexdocs.pm/sentry/Sentry.Client.html#module-configuration) configuration? My thought is something along the lines of:

[code]

If that does work, do you think if I implemented it under a module of thi

[2018-03-05 16:49] mitchellhenke commented on #232
@josevalim Thanks for following up! I don't have any file moving/copying in Sentry as I understand it, though we do some `File.read!` during compilation in some cases.

Would it be helpful to `strace` all of my remote builds on the chance I'm able to catch it? Any suggestions on tracking it down would be super.

[2018-03-05 18:48] novaugust commented on #256
oh-ho, yeah, don't see why `before_send_event` wouldn't work. thanks!

------------------------------------------------

Little unclear what you mean, sorry.

The protocol would work without adding config options - or maybe you're saying you like protocol more because it doesn't config, in which case, I agree

[2018-03-05 18:48] #256 closed

[2018-03-05 19:26] mitchellhenke commented on #256
My initial thought was to have a module like:

[code]

and in config users could make use of them as:

[code]

I have not done much around fingerprinting in my use of Sentry and I'm not sure which things are commonly fingerprinted, so I'm leaning towards adding the above as an example in the docs. My hunch is that most implementations would also be very similar in that they'd have a different exce

[2018-03-05 19:36] novaugust commented on #256
Since there are a few places that :sentry can be configured to call into a module, i'm just doing this

[code]

that's not production code re: before_send since i haven't gone and looked up exactly what error i'm trying to fingerprint yet but, you get the idea ;)

[2018-03-06 18:51] mitchellhenke opened #257 "Add documentation around using before_send_event for fingerprinting"
from #256

[2018-03-06 18:51] mitchellhenke commented on #256
That is how I envision more customized uses of Sentry, makes a lot of sense to have a module I think 🙂

I've created an issue related to discussion above on documentation: #257

[2018-03-07 08:19] mbaeuerle opened #258 "[Question] Add Sentry logging to extra applications"
Is there a way to add Sentry logging to any extra application the main application requires? So if an error in the other application arises Sentry is also logging this error even if it's an external library without access to the source.

[2018-03-07 10:16] mikeni commented on #229
any solutions on this?  I'm using corsica as well, I think it should be mentioned in the README

[2018-03-07 15:33] mitchellhenke commented on #258
Hey @mbaeuerle, thanks for opening an issue!

Via [Sentry.Logger](https://hexdocs.pm/sentry/Sentry.Logger.html), a crashed process should generate an event in Sentry.

Can you expand on the problem with an example?

[2018-03-08 08:57] mbaeuerle commented on #258
Sorry I had the misconception that Sentry also logs errors wich were written with `Logger.error`. But It does not, so this question is irrelevant.

[2018-03-08 08:57] #258 closed

[2018-03-08 15:01] mitchellhenke commented on #258
If it helps, https://hex.pm/packages/sentry_logger_backend and https://github.com/simonwoolf/sentry-logger-backend aim to do that 🙂

[2018-03-08 15:29] mbaeuerle commented on #258
Thanks! That looks very promising!

[2018-03-08 16:01] mitchellhenke commented on #229
To follow up on this, I've opened https://github.com/phoenixframework/phoenix/issues/2791 with things I've tried and a suggested solution if none exists currently.

[2018-03-12 17:43] mitchellhenke commented on #163
closed in #171

[2018-03-12 17:43] #163 closed

[2018-03-22 09:52] lorenzosinisi opened #260 ":error_logger.add_report_handler(Sentry.Logger) not working on remote_console (production)"
### Environment

* Elixir version (elixir -v):  1.5.1
* Erlang/OTP version (erl): Erlang/OTP 19
* Sentry version (mix deps): 6.0.5
* Operating system: Linux

### Description
Hello, thanks for the great job on the Sentry client but I have found an issue. When I configure Sentry by adding also :error_logger.add_report_handler(Sentry.Logger) in the `start` function in the following way:

[code]

The

[2018-03-22 09:54] lorenzosinisi commented on #260
`:gen_event.which_handlers :error_logger # => [Sentry.Logger, :sasl_report_tty_h, Logger.ErrorHandler, :error_logger]` is what I see when I run this code on prod :/

[2018-03-22 14:00] mitchellhenke commented on #260
@lorenzosinisi thanks for opening an issue, I'll definitely look into this.

Are you building releases using [distillery](https://hexdocs.pm/distillery)?

[2018-03-22 14:19] lorenzosinisi commented on #260
Yes, using distillery. I was inspecting the problem and I found out that if you are in the remote console and send a message that breaks one of the GenServer modules currently running, you do get a report. But not if you create an error only in the console. Is definitely has to do with the way the remote_console works

[2018-03-28 21:11] mitchellhenke commented on #260
I took a look into this, and I see the issue, but I'm not sure how to go about solving it yet.  It's hitting this clause: https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry/logger.ex#L46-L48, but Elixir's `Logger.ErrorHandler` has the same [clause](https://github.com/elixir-lang/elixir/blob/master/lib/logger/lib/logger/error_handler.ex#L25-L27) and still gets called correctly.

I'll

[2018-03-30 15:52] mitchellhenke commented on #260
@lorenzosinisi would you be able to give the master branch a try and see if the incorrect behavior persists?

[2018-04-04 18:30] #229 closed

[2018-04-14 17:05] matthewlehner opened #264 "Sentry swallows errors in test environment"
### Environment

* Elixir version (elixir -v): 1.6.4
* Erlang/OTP version (erl): 20.3.2
* Sentry version (mix deps): 6.2.0
* Operating system: MacOS

### Description
Adding `Sentry.Plug` behaviour to the router creates a stack trace that obfuscates where the real errors are being thrown.

### Expected Behavior
The stack traces that are thrown during tests should not be swallowed by Sentry.

[code]

[2018-04-16 15:14] mitchellhenke commented on #264
Thanks for opening the issue! It looks like you have Sentry configured to run in the test environment, and it's failing while trying to send an error because the DSN is not configured and is trying to parse `nil`.

If you don't want to be running Sentry in the test environment, see the `:environment_name` and `:included_environments` configuration documentation in https://hexdocs.pm/sentry/readme.

[2018-04-18 14:51] mitchellhenke commented on #264
If there's further information, I can reopen this, but I am going to close it for now :)

[2018-04-18 14:51] #264 closed

[2018-04-24 03:30] relip opened #265 "Doesn't work with the new DSN format"
### Environment

* Elixir version (elixir -v): 1.6.4
* Erlang/OTP version (erl): 20
* Sentry version (mix deps): 6.2.0
* Operating system: CentOS 7

### Description
When I set DSN to the one appears in the install instruction, it refuses to send an event. After changing it to the legacy DSN then it works.

### Expected Behavior
Works with the new DSN format

### Actual Behavior
[code]

### Steps t

[2018-04-24 14:38] mitchellhenke commented on #265
Oops, yep, this is my bad. I should have made a release when I updated the README. I will do that today!

[2018-04-24 14:51] mitchellhenke commented on #265
I've pushed 6.2.1 to hex, so it should be good now if you update! Sorry again!

[2018-04-24 14:51] #265 closed

[2018-05-28 15:40] ndac-todoroki opened #267 "Request body not sent to Sentry?"
### Environment

* Elixir version (elixir -v): Elixir 1.6.1 (compiled with OTP 20)
* Sentry version (mix deps): * sentry 6.2.0 (https://github.com/getsentry/sentry-elixir) (mix)
* Operating system: Ubuntu 16.04

### Description

When you use this by `use Sentry.Plug`, the `%Event{}` struct includes the request body with the key `request`, but when the error shows up in Sentry the request body is g

[2018-05-29 15:07] mitchellhenke commented on #267
@ndac-todoroki can you gist the code around using Sentry and sending errors?

I've just tried to duplicate it myself and am getting errors with the request body showing up:
![image](https://user-images.githubusercontent.com/1430443/40667542-0e693d80-6328-11e8-98d2-5ba14ec22f83.png)

[2018-06-01 02:06] carlodicelico opened #268 "Umbrella project errors reporting to a single Sentry project"
### Environment

* Elixir version (elixir -v): Elixir 1.6.4 (compiled with OTP 19)

* Erlang/OTP version (erl): Erlang/OTP 19 [erts-8.3.5.4] [source] [64-bit] [smp:2:2] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

* Sentry version (mix deps): 6.2.1

* Operating system: FreeBSD 11.1-RELEASE-p9

### Description

I’m running an Elixir umbrella application made up of two Phoenix application

[2018-06-01 15:11] jakobdamjensen opened #269 "Mix edeliver build release fails on Sentry. eheap_alloc: Cannot allocate 529782288 bytes of memory (of type "old_heap")."
Sorry for bothering you with this. I'm sure it's not really Sentry causing this but since Sentry seems to be the last step `mix edeliver` is able to reach I filed it here. I can't figure out how to debug this. I was able to build the release once but no more.

### Environment

* Elixir version (elixir -v): 1.6.4
* Erlang/OTP version (erl):
Erlang/OTP 19 [erts-8.3] [source] [64-bit] [async-threads:

[2018-06-01 17:16] carlodicelico commented on #268
Added a tag to the config for each app to show which app the error is coming from in Sentry:

[code]

When I send a test event with `mix sentry.send_test_event`, the tag for `MyAppWeb` appears in Sentry regardless where the test event was sent from.

[2018-06-01 20:56] mitchellhenke commented on #269
Thanks for opening this!

Does the same thing happen if you remove Sentry as a dependency?

[2018-06-02 01:18] carlodicelico commented on #268
Okay, I have some stuff to share. Turns out, this is not an issue with the Sentry library at all, but a side effect of how umbrella applications work in relation to Mix configs!

In the umbrella root's `config.exs`, the line `import_config "../apps/*/config/config.exs"` imports all of the config files in `/apps`, and since the web application's directory is *last*, its config overrides any previou

[2018-06-02 01:18] #268 closed

[2018-06-02 06:55] jakobdamjensen commented on #269
Nope. If I remove Sentry it builds just fine.

[2018-06-04 14:55] mitchellhenke commented on #267
Going to close this for now, but would be more than happy to look into it further with some more details around Sentry config and setup for the project that's having issues.

[2018-06-04 14:55] #267 closed

[2018-06-04 14:58] mitchellhenke commented on #269
@jakobdamjensen can you gist your Sentry config?

[2018-06-04 15:00] mitchellhenke commented on #268
@carlodicelico thanks for the detailed explanation. 😀 The `Application.put_env` may cause some issues since it's global though.

[2018-06-06 09:06] jakobdamjensen commented on #269
@mitchellhenke  sure:

https://gist.github.com/jakobdamjensen/ed9eb84c709fdab7bced0ecf78cbf18c

[2018-06-06 19:39] mitchellhenke commented on #269
ah, my initial hunch is it may be an issue similar to https://github.com/getsentry/sentry-elixir/issues/168 with `root_source_code_path` and `source_code_path_pattern` (which default to the `**/*` glob). If you remove `root_source_code_path`, does it finish compilation?

If that is the issue, you'll have to set `root_source_code_path` to be something more specific like `/home/applications/myapp` t

[2018-06-07 14:21] rurkss commented on #244
no errors reporting during exceptions inside channels(handle_out, handle_info callbacks)

[2018-06-07 15:48] mitchellhenke commented on #244
@rurkss do you have [Sentry.Logger](https://hexdocs.pm/sentry/Sentry.Logger.html#content) configured?

I am able to receive events from raising exceptions in Sentry for all `handle_in`, `handle_out`, `handle_info` callbacks.

[2018-06-07 17:04] sega-yarkin opened #271 "Warnings flood console when there is a connection problem"
### Environment

* Elixir version (elixir -v):
  `Elixir 1.6.5 (compiled with OTP 20)`
* Erlang/OTP version (erl):
  `Erlang/OTP 20`
* Sentry version (mix deps):
  `sentry 6.2.1`
* Operating system:
  `macOS 10.13.3`

### Description
When there is a problem with connection to Sentry servers, the client prints a lot of warnings in console with request data, even if it will retry in a couple of seco

[2018-06-07 17:12] mitchellhenke commented on #271
Thanks for the detailed issue!

I will look into the logging.

re: questions

1. Which data do you mean?
2. This is a possibility and something I've considered, but runs the risk of not sending events in the event the whole tree comes down before sending the aggregated events. It doesn't look like Sentry supports it via the API, so it would likely end up being individual requests (https://github.c

[2018-06-07 18:18] sega-yarkin commented on #271
1. Every data (parameters) starts from `Sentry.capture_exception` gets exception data, data from current context, and decides to send it to Sentry, to actual sending data via Hackney (e.g. transform maps, encode it as JSON). For example, `Poison.encode()` returns `iodata` by default which is good with I/O functions, but isn't that good to send to another process (compare to binary/string), because

[2018-06-08 00:18] carlodicelico commented on #268
That's true, it _is_ global, but it's being set every time an event is sent, so _maybe_ it's okay in this case? 🤔

[2018-06-12 14:31] mitchellhenke commented on #269
@jakobdamjensen sorry, my mistake.  Could you try `enable_source_code_context: false`?

[2018-06-12 20:27] sega-yarkin commented on #271
I don't know if seeing a full HTTP request body is useful, I don't have much experience. But if data is sent to Sentry servers at the end, maybe we don't need to see it in a console at all? I think we will have exceptions in console already from error_logger. But is it possible to make an option to disable dumping full request in a console? It will be more useful if developer can choose :-) Thanks

[2018-06-12 21:28] mitchellhenke commented on #271
@sega-yarkin there's unfortunately no guarantee that the data gets sent to Sentry servers at the end, and logging any issues that failed to send immediately is something I think should stay for now. Exceptions received through error_logger would be logged with a default configuration, but exceptions sent through other means would not.

It would be possible to control this via config, but I am wary

[2018-06-18 14:30] mitchellhenke commented on #269
@jakobdamjensen have you been able to give the above a try?

[2018-06-19 15:15] samphilipd opened #275 "(KeyError) key :peer not found in: %Plug.Conn{adapter: {Plug.Adapters.Cowboy.Conn, :...}"
### Environment

* Elixir version (elixir -v): Elixir 1.6.5 (compiled with OTP 19)
* Erlang/OTP version (erl): Erlang/OTP 20
* Sentry version (mix deps): sentry "6.2.1"
* Operating system: Linux

### Description

We recently upgrade to plug 1.6. Now if we get an exception, we see the following error:

[code]

[2018-06-19 15:18] maartenvanvliet commented on #275
Is already a PR for: https://github.com/getsentry/sentry-elixir/pull/273

[2018-06-19 16:57] mitchellhenke commented on #275
Yep, this was something of a regression in Plug 1.6.0 in that it removed `:peer` from Plug.Conn (and will be deprecated when it comes back).

@samphilipd should I make a release that supports 1.6.0, or will using another version be sufficient for you for now?

[2018-06-20 10:31] dsnipe commented on #275
Having the same.
Fortunately found it on staging. Probably will lock Plug for now.
@mitchellhenke when do you plan to do a new release with a fix for 1.6.0 version?

[2018-06-20 21:57] fschuindt commented on #269
@mitchellhenke Hey, I ran into this same issue. Indeed `enable_source_code_context: false` allowed me to compile. But I'm now getting this warning:

[code]

I don't know if it's related or not.

[2018-06-21 00:47] fschuindt commented on #269
**Update:** Apparently adding `parse_trans: :load` to my `rel/config.exs` like so:
[code]

Worked for me.

[2018-06-21 05:25] stevedomin opened #276 "Documentation for adding Sentry.Logger in multiple applications needs to be updated"
### Environment

* Elixir version (elixir -v): 1.6.6
* Erlang/OTP version (erl): 21.0
* Sentry version (mix deps): 6.2.1
* Operating system: macOS

### Description

The [documentation](https://hexdocs.pm/sentry/Sentry.Logger.html ) to add `Sentry.Logger` only once does not work with Erlang 21.0 anymore.

### Expected Behavior

Application should start normally (without crash) and `Sentry.Logger` s

[2018-06-21 08:08] samphilipd commented on #275
@mitchellhenke we downgraded to 1.5.1, which is fine for now. If 1.6.1 re-introduces the :peer key we can just wait for that version.

[2018-06-21 13:57] mitchellhenke commented on #275
@dsnipe I was hoping `1.6.0` would be yanked when `1.6.1` was released so everything could continue functioning. I can release a new version of Sentry with #273 today if that's easiest for you.

[2018-06-21 13:57] #271 closed

[2018-06-21 13:58] mitchellhenke commented on #276
@stevedomin thanks for opening this! I will correct the docs 🙂

[2018-06-21 14:09] mitchellhenke commented on #269
@fschuindt I wouldn't suspect the `:parse_trans` warning would be from Sentry, but I'd be happy to look into a fix if that is the case.

The culprit of `enable_source_code_context` is the reading of files recursively from the file system, and something like the issue mentioned above causing it to loop forever. The fix is to compile in a child directory or have stricter file path reading that avoid

[2018-06-21 15:49] fschuindt commented on #269
@mitchellhenke I see, I can do that. But what setting `enable_source_code_context` to `false` does? Is  any form of linting that setting it to `false` my project will lack?

[2018-06-21 16:11] mitchellhenke commented on #269
@fschuindt source code context allows Sentry to display the text of the code when an error is reported.

If it's enabled, you'll see the code itself:
![image](https://user-images.githubusercontent.com/1430443/41731260-920cb388-7543-11e8-8f0a-feaffd431967.png)

If it's disabled, you'll instead only see the file and line number:
![image](https://user-images.githubusercontent.com/1430443/41731295-a20

[2018-06-21 16:18] fschuindt commented on #269
@mitchellhenke Oh, ok. Got it. I will compile it in a separated directory with `enable_source_code_context` to `true`. It should work. Thank you so much.

I will keep you posted.

[2018-06-21 17:06] dsnipe commented on #275
I'm ok to wait, no rush.
But as far as I understand `peer` function will be deprecated, so anyway it will be removed somewhere in next versions.

[2018-06-26 14:30] mattlorey commented on #275
Hey @mitchellhenke, seems this is stalled on both ends.  Since even if `:peer` would be coming back it would be deprecated, could you release a new version with #273?  Seems like that would be the long term solution

[2018-06-26 14:37] mitchellhenke commented on #275
@mattlorey yep, I'll do that right now

[2018-06-26 14:58] mitchellhenke commented on #275
I've merged #273 and released it as part of version `6.3.0` 🙂

[2018-06-26 14:58] #275 closed

[2018-06-26 18:20] jeregrine opened #278 "Document scrubber"
https://github.com/getsentry/sentry-elixir/blob/master/docs/plug.rst doesn't document cookie_scrubber.

[2018-06-26 18:23] jeregrine opened #279 "Plug.Phoenix.Endpoint should PROBABLY offer same options for scrubbing"
The Plug.Phoenix.Endpoint does not scrub things like the plug does.

[2018-06-26 19:08] jeregrine opened #280 "Document capture_exception/capture_message options"
https://hexdocs.pm/sentry/Sentry.Event.html#summary is helpful to have handy on readme.

[2018-06-26 19:09] jeregrine opened #281 "Add Sentry.Context to readme"
With example

[2018-06-27 21:00] coretemp opened #282 "Document full dependencies"
By specifying the below you are saying that for all combinations of software on which Elixir runs, your software runs. However, we already know that this isn't the case, because of existing (unresolved) bug reports related to parallel compilation; bugs your team has *not* addressed in an efficient or effective manner, I should add.

[code]
So, before I will actually try to debug anything, I would

[2018-06-27 21:30] jeregrine commented on #232
@michaelstalker can you share your config?

[2018-06-27 21:31] LucioFranco opened #283 "Consuming exception"
### Environment

* Elixir version (elixir -v): 1.6.6
* Erlang/OTP version (erl): 21
* Sentry version (mix deps): 3.3
* Operating system: MacOS 10.13.5

### Description
Sentry is consuming the exception when it tries and reports it and instead just produces this exception `** (UndefinedFunctionError) function Plug.Conn.get_peer_data/1 is undefined or private`. It should output the actual exception,

[2018-06-27 21:33] jeregrine commented on #282
In the future please link to the issues and errors that you are having. I understand you are having trouble and this is a very annoying bug. You must understand how hard it is to fix an issue when its not easy to reproduce your self. The issue as presented is not a productive way to interact with any human being.

It turns out that this is a bug in the Elixir Compiler and is being fixed for elixir

[2018-06-27 21:33] #282 closed

[2018-06-27 21:35] jeregrine commented on #232
Thanks to @potatosalad we know the cause of the issue and can temporarily make a fix until https://github.com/elixir-lang/elixir/issues/7699 is closed out

[2018-06-28 12:48] atomkirk opened #284 "Advice about Task.start errors"
Do you have any advice about getting better error messages from `Task.start`? For example:

[code]

Maybe there is context that I can add before calling `Task.start` to give myself a hint as to where `Task.start` is called and thus the function this error happened in? Thanks!

[2018-06-28 14:33] mitchellhenke commented on #283
@LucioFranco what version of Plug are you on?

[2018-06-28 14:36] LucioFranco commented on #283
@mitchellhenke `1.4`

[2018-06-28 14:49] mitchellhenke commented on #283
@LucioFranco are you overriding the Plug version? Version `6.3.0` has it locked to using Plug `~> 1.6`

https://github.com/getsentry/sentry-elixir/blob/6.3.0/mix.exs#L30

[2018-06-28 15:43] jeregrine commented on #282
This should temporarily fix the issue.

[2018-06-28 15:50] mitchellhenke commented on #284
@atomkirk unfortunately when relying upon `Sentry.Logger` to report errors, you're pretty limited in contextual information as it can only use what `error_logger` provides it.

One option would be to wrap it in a try/rescue, and include any contextual information you need by reporting it manually:

[code]

[2018-06-28 15:57] atomkirk commented on #284
What about this?
[code]

[2018-06-28 15:57] #284 closed

[2018-06-28 15:57] atomkirk commented on #284
ok thanks!

[2018-06-28 15:58] atomkirk commented on #284
also, we've got somethign like this. Do you see any problems with it?

[code]

[2018-06-28 16:03] mitchellhenke commented on #284
@atomkirk from looking at it, I suspect that it won't work.

I don't think the process dictionary state gets passed between the error reporting processes in Erlang, and so despite the Task having that information, I don't think it will propagate it to `error_logger`, which `Sentry.Logger` uses to generate reports.

[2018-06-28 16:04] mitchellhenke opened #286 "Re-evaluate including dependencies in error reports when Elixir compiler bug is fixed"
Tracking issue for https://github.com/elixir-lang/elixir/issues/7699

[2018-06-28 16:05] atomkirk commented on #284
don't you read `:sentry_context` thought in the error handler you use to send data to sentry?

[2018-06-28 16:07] mitchellhenke commented on #232
This should be fixed with #285 by defaulting to not including dependencies in reports, so if anyone has issues with the compiler as described in https://github.com/elixir-lang/elixir/issues/7699, please comment here.

I'm going to close this issue, and have opened a new issue (https://github.com/getsentry/sentry-elixir/issues/286)  to track the upstream Elixir issue and will be evaluating the opti

[2018-06-28 16:07] #232 closed

[2018-06-28 16:09] mitchellhenke commented on #284
It makes a best effort to get as much information from`error_logger`, but it isn't something that can be relied upon unfortunately.

[2018-06-28 16:10] mitchellhenke commented on #284
I should add that this could be changing dramatically with the coming OTP/Elixir Logger changes

[2018-06-28 17:04] #257 closed

[2018-06-28 18:47] LucioFranco commented on #283
@mitchellhenke Right I see that now. We can't upgrade to `Plug 1.6` at the moment so we'll stay with `6.2.1`. Thanks.

[2018-06-28 18:47] #283 closed

[2018-06-28 19:01] mitchellhenke commented on #283
@LucioFranco cool, thank you! Let me know if there is anything I can do to make it easier :)

[2018-06-28 19:44] #122 closed

[2018-06-28 19:44] #281 closed

[2018-06-28 20:00] #168 closed

[2018-06-28 20:00] #269 closed

[2018-06-28 20:29] mitchellhenke commented on #151
Configuration has become simpler since this was open, and the only required configuration is the `dsn`.

[2018-06-28 20:29] #151 closed

[2018-06-28 21:57] #38 closed

[2018-07-02 01:00] binarylogic opened #294 "Switch from `:uuid` to `:elixir_uuid`"
Apparently the `:uuid` library has [changed it's name](https://github.com/zyro/elixir-uuid/blob/master/CHANGELOG.md#v120-24-jun-2018-elixir--10) to `:elixir_uuid`. This causes a conflict error when building our app since sentry requires the old name:

[code]

We've switched to using the legacy `:uuid` dependency for now, but wanted to make you aware.

[2018-07-02 15:25] mitchellhenke opened #296 "Consider dropping elixir_uuid dependency"
From #294 #295

[2018-07-10 09:40] samphilipd opened #297 "Can't compile app with Sentry 6.4.0"
### Description

`mix compile` yields this error:

[code]

[2018-07-10 18:43] DavidAntaramian opened #299 "Sentry report does not correspond to stacktrace"
### Environment

* Elixir version (elixir -v): 1.6.5
* Erlang/OTP version (erl): 20.3
* Sentry version (mix deps): 6.2.1
* Operating system: Ubuntu 16.04 LTS

### Description

Our Sentry reports will sometimes have errors that were raised that don't have any association with the stacktrace. For example, we'll get a Sentry report for the error `Internal.QueryFailedError`, and then see a stacktrace

[2018-07-10 18:44] DavidAntaramian commented on #299
I've discussed this with @mitchellhenke and provided him with a sample JSON of one of the events from our Sentry org.

[2018-07-10 19:35] #296 closed

[2018-07-10 19:35] #297 closed

[2018-07-17 18:17] Ebtoulson commented on #279
The sentry plug also filters out exceptions like `Phoenix.Router.NoRouteError`.
If you have both the plug and endpoint, 404's will still result in a sentry event.

[2018-07-26 08:19] ysemeniuk commented on #297
@mitchellhenke Could you push minor patch with this fix, please? Cause we need 6.4.0 version because of Plug peer fix, but we can't compile it

[2018-07-26 14:37] mitchellhenke commented on #297
@ysemeniuk you bet, I've released `6.4.1` 🙂

[2018-08-06 18:55] #286 closed

[2018-08-07 15:11] mitchellhenke opened #303 "Configurable JSON Library"
allow `:sentry, json_library: Poison/Jason/MyJSONLibrary`, etc.

[2018-08-31 19:37] binarylogic opened #304 "Ability to disable logging for failed events"
When the sentry rate limit is exceeded it [logs an event](https://github.com/getsentry/sentry-elixir/blob/8c216dc6ce20865030977e40a398ab88bc495c36/lib/sentry/client.ex#L334) that looks like:

[code]

These events are incredibly noisy and they swallow the actual error from being logged. Would it be possible to provide a configuration option to disable this or drop the level to `debug`?

Thanks.

[2018-09-05 16:15] mitchellhenke commented on #304
@binarylogic thanks for opening an issue!  This is something that's been suggested before (#271).

Would allowing configuration of the log level be sufficient?

[2018-09-07 18:10] mitchellhenke commented on #276
updated documentation on the 6.x branch in https://github.com/getsentry/sentry-elixir/commit/f482840257af91808b04b2a2b956a7a3cfe20af9

[2018-09-07 18:10] #276 closed

[2018-09-07 18:12] mitchellhenke commented on #303
closed in #302

[2018-09-07 18:12] #303 closed

[2018-09-20 16:17] Nrisimha opened #307 "Issues are not catched"
### Environment

* Elixir version (elixir -v): Elixir 1.6.6 (compiled with OTP 19)
* Erlang/OTP version (erl):
* Sentry version (mix deps): sentry 5.0.1 (Hex package) (mix)
* Operating system: windows 10

### Description
I created account on sentry.io, configured sentry in my elixir project, tried to produce errors (like running a wrong url) and I did not see any issues on on-line platform.

### E

[2018-09-20 16:19] Nrisimha commented on #307
Codes:
mix.ex
`defp deps do
    [
      {:phoenix, "~> 1.3.0"},
      {:phoenix_pubsub, "~> 1.0"},
      {:phoenix_html, "~> 2.10"},
      {:phoenix_live_reload, "~> 1.0", only: :dev},
      {:gettext, "~> 0.11"},
      {:cowboy, "~> 1.0"},
      {:xarango, "~> 0.6.1"},
      {:comeonin, "~> 4.0"},
      {:bcrypt_elixir, "~> 1.0"},
      {:guardian, "~> 1.0.0", override: false},
      {:ex_json_sc

[2018-09-20 17:18] mitchellhenke commented on #307
@Nrisimha thanks for opening an issue!

Requesting an undefined endpoint won't generate any errors in Sentry by default.  If you raise an error in an endpoint and request it, an error should show up in Sentry.

Are you running in development mode or is this in production?

One way to test is to run `mix sentry.send_test_event` in the environment you're running Sentry in, and it will say if an even

[2018-09-21 12:40] Nrisimha commented on #307
Okay, I solved previous error with running `mix sentry.send_test_event`, problem was in my configurations, I needed to change my `dsn` to deprecated one (on sentry.io go  [Project] » Settings » Client Keys). I also included environment name `:dev`, because it looks like my project runs in dev mode (changed `included_environments` option). Now I have this error:

[code]

[2018-09-21 13:49] #307 closed

[2018-09-21 13:53] mitchellhenke commented on #307
Glad you were able to solve it.  I would also consider upgrading to a more recent Sentry 🙂

[2018-09-21 13:53] mitchellhenke commented on #299
Closing as I'm unable to confirm or reproduce :/

[2018-09-21 13:53] #299 closed

[2018-10-11 18:27] vasspilka opened #308 "Support for phoenix 1.4"
Upgrading to RC I get

[code]

[2018-10-11 18:33] mitchellhenke commented on #308
@vasspilka thanks for opening an issue!  Sentry should support Phoenix 1.4 without any changes, and the `~> 1.3` version requirement will match `1.4` when it is released, but it doesn't match on release candidates.

I think the easiest way to handle it is to override your phoenix dependency, which will direct libraries that depend on Phoenix to ignore their Phoenix version requirements:

[code]

C

[2018-10-11 18:55] vasspilka commented on #308
It does :) <3

[2018-10-11 18:55] #308 closed

[2018-10-11 19:35] mitchellhenke commented on #308
awesome, glad it was solved!

[2018-10-16 03:37] binarylogic commented on #304
Hey @mitchellhenke, apologies I just saw this. Yes, that would be very helpful, I'd prefer to set it at the `debug` level.

[2018-11-01 15:32] #134 closed

[2018-11-01 15:32] #252 closed

[2018-11-01 15:33] #244 closed

[2018-11-06 14:12] atomkirk opened #311 "documentation suggestion"
I found that `handle_otp_reports` is enabled by default but `handle_sasl_reports` is not and that was causing us to miss A LOT of errors. Especially those running in processes or exq jobs.

I strongly suggest telling people to add

    handle_sasl_reports: true

to their logger config so they get all erlang/elixir errors

[2018-11-06 14:46] mitchellhenke commented on #311
Thanks for opening this @atomkirk

What Sentry version and Erlang/Elixir version are you on?

[2018-11-06 15:11] atomkirk commented on #311
Sentry v7, Elixir 1.7, erlang 21.1

[2018-11-08 14:07] austinsmorris opened #312 "Upgrade to plug 1.7 and plug_cowbow 2.9"
This is required for phoenix 1.4

[2018-11-08 15:20] mitchellhenke commented on #312
Thanks, I will fix this soon!

[2018-11-08 15:40] atomkirk commented on #311
here's one:

[code]

[2018-11-08 15:49] atomkirk commented on #311
Here's another one:

![](https://d.pr/i/qpBL9A+)

On that one, I actually used [Exq](https://github.com/akira/exq) Middelware (`after_failed_work`) hook to add the extra (eg `job_serialized`) info and send the error manually. We weren't getting errors in exq jobs for months before adding this.

using `handle_sasl_reports: true` did actually start sending the error above, but with no sentry context

[2018-11-08 17:04] mitchellhenke commented on #311
SASL was [deprecated](http://erlang.org/doc/apps/sasl/error_logging.html) in Erlang 21, so I would like to exhaust other solutions before suggesting using it in documentation.

In testing Exq in a sample application, Sentry catches failed jobs for me (though not with the job metadata):
![image](https://user-images.githubusercontent.com/1430443/48214504-b7298400-e345-11e8-9073-dcc876816d29.png)

Do

[2018-11-08 17:10] atomkirk commented on #311
I do. Whats going on here is kind of complicated.
1) There are errors we get in sentry (even some from jobs I think).
2) errors we get only in kibana (our logging backend)
3) errors we get in neither unless handle_sasl_reports is turned on

So, I think we could survive without all the SASL reports. They aren't super high quality errors. But it does make me wonder if there is a bug with `Sentry.Log

[2018-11-08 17:28] mitchellhenke commented on #311
Thanks for the detail.  It's very possible things are missed from `crash_reason` and it can be improved, but lacking specific cases makes it more difficult.

My hunch is that the error you shared in https://github.com/getsentry/sentry-elixir/issues/311#issuecomment-437040945 is confounding things a bit, as it suggests that logs aren't making it to Logstash because it can't log the event (and crash

[2018-11-08 17:31] atomkirk commented on #311
Well its for sure not affecting the sentry logger backend, becuase that error now appears in sentry. But only if `handle_sasl_reports: true` is set.

I'll try to create an example app for you when I get some time. For now, having the setting on works for us, so I guess just having this issue will be helpful for other people who have the same issue.

[2018-11-08 18:51] mitchellhenke commented on #311
It won't affect it in some cases (like the one in the comment), but I am hesitant to say it can't affect it at all.  One possibility is Sentry caught an event, but failed to send due to a bug in Sentry and the resulting log failed to be sent to Logstash due to the error shared above.

To move forward on this issue, I think finding a case where enabling SASL catches an error that having it disabled

[2018-11-09 16:10] atomkirk opened #313 "no function clause matching in Sentry.Event.culprit_from_stacktrace/1"
### Environment

* Elixir version (elixir -v): 1.7
* Erlang/OTP version (erl): 21.1
* Sentry version (mix deps): 7
* Operating system: Mac OS High Sierra

### Description
Got an error using `capture_exception`:

[code]

The arg was:
[code]

so it looks like not all stacktraces are lists?

I guess it could be what exq is giving me in this callback:

[code]

[2018-11-09 18:45] mitchellhenke commented on #313
Thanks for opening this!

A stacktrace is generally a list of 3 element tuples, as: `[{Module, Name, Arity}]`, so it's surprising to me that a timeout on a call would generate a `{reason, stacktrace}` where the stacktrace isn't a list.

I've confirmed this behavior (it seems to be related to the use of `spawn_link` instead of a GenServer), and will put together a fix.

[2018-11-14 19:02] #312 closed

[2018-11-14 19:11] #313 closed

[2018-11-14 21:12] mitchellhenke commented on #312
This fix has been released in `7.0.3`

[2018-11-14 21:12] mitchellhenke commented on #313
This fix has been released in `7.0.3`

[2018-11-21 11:00] stevedomin opened #316 "Sentry.Logger.Backend in umbrella application"
### Environment

* Elixir version (elixir -v): 1.7.4
* Erlang/OTP version (erl): 21
* Sentry version (mix deps): 7.0.3

### Description

Previously the Sentry.Logger had documentation on how to prevent the backend from being added multiple times when you were running an umbrella application. Is that still an issue with the new Sentry.LoggerBackend?

### Related issues

* #205
* #276

[2018-11-21 15:03] mitchellhenke commented on #316
Thanks for opening this!

It should not be an issue with `Sentry.LoggerBackend`.  [Logger.add_backend/2](https://hexdocs.pm/logger/Logger.html#add_backend/2) shouldn't allow you to add the same backend multiple times (it will return `{:error, :already_present}` or similar).

[2018-11-23 07:48] stevedomin commented on #316
Thanks @mitchellhenke, makes sense.

[2018-11-23 07:48] #316 closed

[2018-11-26 21:23] mstratman opened #317 "(Question) Why dependency on Phoenix 1.3?"
I'm trying to update Phoenix to 1.4 and `mix` is giving errors unless overridden. Are there known issues with Phoenix 1.4?

[2018-11-26 21:41] mitchellhenke commented on #317
Hi, thanks for opening an issue!

The optional dependency is `{:phoenix, "~> 1.3", optional: true}`, so it should work for both Phoenix `1.3.x` and `1.4.x`.

Which version of Sentry are you on, and could you gist the error message?

[2018-11-26 21:44] mitchellhenke commented on #316
Happy to help!

I haven't done much testing with umbrella apps, so if you run into anything that could be improved, just let me know 🙂

[2018-11-28 15:01] mitchellhenke commented on #311
absent a way to reproduce, I'm closing this issue for now 🙂

[2018-11-28 15:02] #311 closed

[2018-11-28 15:03] mitchellhenke commented on #317
If you have more details on the issue, I'd be happy to take a look

Absent that, I'll be closing this issue for now 🙂

[2018-11-28 15:04] #317 closed

[2018-11-28 18:13] atomkirk opened #318 "issues with cowboy 2"
### Environment

* Elixir version (elixir -v): 1.7.3
* Erlang/OTP version (erl): 21.1
* Sentry version (mix deps): 7.0.1
* Operating system: Google Cloud Linux

### Description
Before we upgraded to phoenix 1.4 (with cowboy 2), our errors came through fine, but now we get them all bunched together with the same useless stack trace:

[code]

And it looks like we aren't getting any errors for router

[2018-11-29 14:24] samphilipd opened #319 "Sentry not reporting exception"
### Environment

* Elixir version (elixir -v):

1.7.3

* Erlang/OTP version (erl):

21.0.8

* Sentry version (mix deps):

7.0.3

* Operating system:

Linux

### Description

We have a class of error in our logs that was not reported by sentry.

[code]

We have this line in our core OTP application:

`{:ok, _} = Logger.add_backend(Sentry.LoggerBackend)`

### Expected Behavior

I expected Sentry to

[2018-11-29 20:33] mitchellhenke commented on #318
Thanks for opening an issue 🙂

Are you using `Sentry.Plug`?

[2018-11-29 20:53] mitchellhenke commented on #319
Thanks for opening an issue!

The `LoggerBackend` does not report every error log to Sentry, but only ones in which a crash happens (and it's an area that can always be improved).

In the case of DBConnection being unable to connect, the result of that log is a `Logger.error` call, which doesn't include the metadata around process crashes: https://github.com/elixir-ecto/db_connection/blob/59596188

[2018-11-29 21:37] michaelst commented on #318
We are using Sentry.Plug, we also tried upgrading to 7.0.3

[2018-11-30 14:44] mitchellhenke commented on #318
The issue does sound odd with `Sentry.Plug` also being set up.  I created a Phoenix 1.4 project using Cowboy 2 and Sentry 7 to try to reproduce, but I get errors as I would expect.

Could you share some more detail on what kind of router errors?

[2018-11-30 16:49] michaelst commented on #318
With the upgrade to 7.0.3 we started to get some other expected errors.

However, we still are getting errors through this, specifically we get a lot of this error, which we didn't use to get as the endpoint just returns 404
`(ErlangError) Erlang error: {{{%Ecto.NoResultsError{message: "expected at least one result but got none in query:`

I have also noticed some mysql deadlock and constraint err

[2018-11-30 17:07] atomkirk commented on #318
Some helpful context here is that this is related to the other issue I opened about setting `handle_sasl_reports: true` on logger. I know you said that option might not be around forever, but we've found through experimentation that we miss errors in sentry without it. The errors we don't miss still come through, but they also come through as erlang errors, so we do get some duplicates.

Whats str

[2018-12-06 20:59] mitchellhenke commented on #318
Thanks for the details.  I've done some investigation into this and it seems as though part of the issues you're experiencing are from using SASL reports.  In enabling them, I was able to reproduce some of what you're seeing.

The combination of SASL and Sentry is producing exceptions like `{{{%Ecto.NoResultsError{message: "expected at least one result but got none in query: [...]` which means the

[2018-12-11 15:24] mitchellhenke commented on #319
I'm happy to reopen and have a discussion on this issue, but will be closing it for now.

[2018-12-11 15:24] #319 closed

[2018-12-20 16:38] mitchellhenke commented on #318
I appreciate the issue being opened and the information provided, but I unfortunately do not have enough to take action on.  I'm more than happy to re-open this issue and answer questions related to it, but I'll be closing it for now.

[2018-12-20 16:38] #318 closed

[2019-01-25 15:31] kenips opened #325 "Compilation Error: Plug.Conn.__struct__/0 is undefined"
### Environment

* Elixir version (elixir -v): 1.7.1
* Erlang/OTP version (erl): 21
* Sentry version (mix deps): 7.0.3
* Operating system: macOS 10.14.3

### Description
When upgrading to Sentry 7 I run into compilation error. This is a Phoenix app so pretty weird that it complains about this, as there was a similar error before https://github.com/getsentry/sentry-elixir/issues/88 and the fix is s

[2019-01-25 15:44] kenips commented on #325
Not sure what caused it. Deleted the deps folder and retried and worked.

[2019-01-25 15:44] #325 closed

[2019-01-25 15:48] mitchellhenke commented on #325
@kenips that's what I was going to suggest, but it's still kind of odd 😕

[2019-01-25 15:51] kenips commented on #325
@mitchellhenke yeah really odd. Before I deleted the deps folder I did change the first line of `lib/sentry/plug.ex` from `if Code.ensure_loaded?(Plug) do` to `if Code.ensure_loaded?(Plug.Conn) do` and it compiled, but I got another another undefined error so I took the delete route...

[2019-02-01 07:55] axelson commented on #79
Note: the elixir 1.8.0 release adds automatic `caller` tracking which would be very useful in this scenario.

https://elixir-lang.org/blog/2019/01/14/elixir-v1-8-0-released/

[2019-02-01 15:33] mitchellhenke commented on #79
@axelson this is something definitely I plan to look into 🙂

[2019-02-04 15:36] jedeleh opened #327 "Elixir errors noisy"
One thing we are struggling with is that Sentry is getting events for every single error , which is not ideal due to the "let it fail" aspect of elixir application development. Most of these errors are perfectly acceptable "failures" that we don't need to know about. The problem is that between ~10 elixir applications we're exceeding our quota really fast each month.

I don't know if this is somet

[2019-02-04 16:26] mitchellhenke commented on #327
@jedeleh thanks for opening an issue 🙂

I have a couple ideas on how improve on this.  There is support for filtering, described here: https://hexdocs.pm/sentry/Sentry.html#module-filtering-exceptions

Could you elaborate on the acceptable failures?  Are these processes crashing, Plug errors, or something else?

[2019-02-04 18:55] jedeleh commented on #327
I think the thing we see the most, are db connection issues during application deploy. The specific error message is one we never see outside those brief moments when the database is down during a quick deploy, but we end up with hundreds of error events each time it happens. The link you provided (to filtering) is a pretty nice solution. I hadn't seen that. At the moment we're using the before_se

[2019-02-04 19:04] mitchellhenke commented on #327
Awesome.  I have been meaning to add more documentation around the EventFilter Behaviour, and plan to take care of that this week.

Were there other specific errors or categories of errors that are noisy?

[2019-02-06 22:19] tpitale opened #328 "Error and Crash on 404 Elixir.Phoenix.Router.NoRouteError"
### Environment

* Elixir version (elixir -v): 1.8.1
* Erlang/OTP version (erl): 21
* Sentry version (mix deps): 7.0.3
* Operating system: Mac OS 10.14.2 and Docker elixir-slim-1.8.1

### Description

After upgrading to Phoenix 1.4.x and plug_cowboy 2.0, We've seen some vague errors in our logs that appear to happen on 404:

[code]

When searching out these errors we've found that other products s

[2019-02-07 14:55] mitchellhenke commented on #328
Thanks for opening this issue!

I will take a look to see what I can do about this.

[2019-02-08 16:08] mitchellhenke commented on #328
I am unfortunately unable to reproduce this.  I've pushed a repository to show how I'm attempting to reproduce, and if anything in your setup looks different, let me know:

Repository: https://github.com/mitchellhenke/no_route_testing
Sentry installation commit: https://github.com/mitchellhenke/no_route_testing/commit/53a2b1db3d06e50f1bec47bc9efd9ab4667e6d30

hitting any route other than `/` gener

[2019-02-08 16:39] tpitale commented on #328
We don't have this line `use Sentry.Phoenix.Endpoint` adding and deploying. Might have missed that when upgrading at some point in the past.

This could also all be a red herring. We have no real confirmation that sentry is the issue. Closing until I can reproduce reliably.

[2019-02-08 16:39] #328 closed

[2019-02-12 16:06] mitchellhenke commented on #328
@tpitale My hunch is that `Sentry.Phoenix.Endpoint` wouldn't affect this issue, but rather that something different is going on with `:logger` config.  Something Phoenix related is also possible, but I'm less sure.

If you'd like to discuss while you're working through it, I'm in IRC and Elixir Slack (same username) 🙂

[2019-03-20 14:45] indrekj commented on #222
Just stumbled on this as well. Had everything defined like
[code]
which failed. Later found out that
[code]
works just fine.

[2019-04-10 23:15] sheharyarn commented on #240
Encountering the same issue. It looks like Sentry completely relies on the `Jason` library for encoding params, which by default can't encode tuples.

<img width="1384" alt="Screen Shot 2019-04-10 at 4 12 23 PM" src="https://user-images.githubusercontent.com/2355108/55919646-a78bc100-5bab-11e9-888d-8b071cf0aa97.png">

[code]

I would've expected Sentry to automatically take care of this, as it tur

[2019-04-11 15:22] mitchellhenke commented on #240
@sheharyarn thanks for adding more context to this issue 🙂

I understand the expectation that these cases should be handled automatically (and that's always the goal), but unfortunately it is more complicated than implementing the `Jason.Encoder` protocol within Sentry for other types.  Different users of Sentry may have their own preferred encoding of tuples, structs, or other types, and implemen

[2019-04-11 18:32] aghyad opened #332 "Using inspect/2 with default options to print stacktrace info leads to limited printed output"
### Environment

* Elixir version (elixir -v): any
* Erlang/OTP version (erl): any
* Sentry version (mix deps): any
* Operating system: any

### Description

The current implementation of `args_from_stacktrace/1` in `Sentry.Event` causes the output of inspects for stacktrace arguments to be limited and in a non-pretty format. This becomes obvious if your stacktrace is long and contains information

[2019-04-11 19:06] aghyad commented on #332
I just realized we have a PR for this opened earlier here: https://github.com/getsentry/sentry-elixir/pull/331

[2019-04-11 19:06] mitchellhenke commented on #332
@aghyad Thanks for opening this issue!

Going to tag #331 as it aims to solve this

Unfortunately, the expected behavior of showing the full stacktrace and arguments regardless of size isn't feasible, as Sentry has limits on the size of the payload it will receive.  I expect that the suggested fix would be fine for most users, but switching from `50` to `:infinity` without any bounds is risky enou

[2019-04-12 00:41] sheharyarn commented on #240
Hey @mitchellhenke. Thanks for the quick reply. We're using all three but most of the time we pass error tuples and other structs as part of the metadata when manually sending an event via `Sentry.capture_message/2`:

[code]

[2019-04-12 14:41] mitchellhenke commented on #240
In cases like that where it's a term of any type, it's difficult for Sentry to accommodate for the reasons mentioned above.  `error` could be just about anything, e.g. an anonymous function, which can't be encoded.

If the structure of the term isn't important, passing`%{error: inspect(error)}` is an option, as a binary should always be accepted.

[2019-04-15 20:06] LiyangW opened #333 "Failed to send Sentry event (:unknown_ca)"
### Environment

* Elixir version (elixir -v): 1.8.1
* Erlang/OTP version (erl): 21
* Sentry version (mix deps): 7.0.5
* Operating system: Mac OS

### Description

I followed the instructions on the Sentry documentation to set up my application with sentry plug-in.  After running ` MIX_ENV=dev mix sentry.send_test_event` testing command, I got the following error message.
### Expected Behavior

##

[2019-04-16 18:24] mitchellhenke commented on #333
Hi @LiyangW!  Thanks for opening an issue.

Unfortunately this seems like an issue with SSL and certificates, which can be hard to troubleshoot, and may need to be solved outside of Sentry.

Are other parts of your application able to make HTTP requests?

[2019-04-16 18:32] LiyangW commented on #333
Hey @mitchellhenke, thanks for answering!
I am able to make HTTP requests using `HTTPotion` in my application.

One thing I noticed while experimenting with `sentry` is that I deployed my application on two environments, one is verified by `Let's Encrypt CA`, and another is verified by `Digicert CA`.  While the `sentry` testing command is failing on the `Let's Encrypt` environment, it worked on th

[2019-04-16 21:51] mitchellhenke commented on #333
I'm not super familiar with certificate bundles and SSL related issues.  hackney uses the Mozilla CA bundle via the https://hex.pm/packages/certifi package.  I'm not sure how HTTPotion handles SSL certificates, or what differences could cause it to succeed while hackney fails.

It may be outside of the scope of Sentry to handle those things, unless you have some suggestions on how Sentry could bet

[2019-04-17 15:43] #304 closed

[2019-04-23 17:52] mitchellhenke commented on #333
@LiyangW were you able to solve this?

[2019-04-23 17:59] LiyangW commented on #333
@mitchellhenke  Hey thanks for the following up!
I decide to not digging in and move on.  I simply passed hackney options `hackney: [insecure: true] `, so the certification step is skipped!

[2019-04-23 18:02] mitchellhenke commented on #333
@LiyangW thanks for letting me know the solution! I'm going to close the issue for now, but if there's anything Sentry can do to improve this, feel free to comment back and I can take a closer look.

[2019-04-23 18:02] #333 closed

[2019-04-23 18:08] mitchellhenke commented on #240
@sheharyarn due to the way protocols get dispatched, I don't think including `Jason.Encoder` protocol implementations can fit within Sentry.

I unfortunately am a bit stumped on how else to make this more ergonomic on your end, because ideally these cases are more obvious ahead of time or there's a better way to handle it when it does happen.

[2019-04-23 23:12] thdxr opened #336 "Logger metadata unavailable when using LoggerBackend"
Currently the recommended way to attach Logger.metadata is via a presend hook that pulls out relevant metadata and attaches it to the event.  This works great under normal situations because the presend hook runs in the same process as where the exception occurred, making Logger.metadata accessible.

However when using the LoggerBackend the message is first sent to a gen event process before being

[2019-04-23 23:31] thdxr commented on #336
This option is probably too presumptuous but is an option:
https://github.com/ironbay/sentry-elixir/commit/2b7a35e6778823ae1901b07a2213475bcf076e93

[2019-04-24 01:06] sheharyarn commented on #240
Hey @mitchellhenke, thanks for the update. For now, we've started calling `inspect` on the passed attributes in our custom logger/sentry wrapper so sentry captures all events, but lost the ability to expand/collapse maps in the sentry dashboard (which is not that big of an issue).

Another solution we're looking at is recursively walking the error metadata map and converting all present tuples to

[2019-04-24 17:12] mitchellhenke commented on #336
@thdxr hey, thanks for opening an issue!

It looks like this became possible with Elixir 1.7/OTP 20 Logger changes, so we should be safe on that end.

I think a solution like the one linked is a good starting point 🙂

[2019-04-24 22:05] mitchellhenke commented on #336
I started playing around a bit with this.  I think a solution along the lines of: https://github.com/getsentry/sentry-elixir/compare/logger-metadata?expand=1

is workable?

I think for now I'd rather avoid recursing through nested maps/lists, as it could be a can of worms if there happens to be an extremely nested or lengthy list/map.

[2019-04-25 19:28] thdxr commented on #336
That looks perfect, I agree about the recursion because even the default console logger expects you to pass in primitives and not nested objects

[2019-04-26 11:48] StephaneRob opened #337 "exq worker exception not sent"
### Environment

Tested with two configurations

* Elixir version (elixir -v): 1.7.3 / 1.8.1
* Erlang/OTP version (erl): 21.3.3
* Sentry version (mix deps): 6.4.2 / 7.0.6

### Description

Exceptions raised on [exq](https://github.com/akira/exq) workers are not sent to sentry when running app via a release distillery.

By running the app with mix, exceptions are correctly sent.

[2019-04-29 19:01] mitchellhenke commented on #337
Hi @StephaneRob, thanks for opening an issue!

For the exceptions being raised, are they exceptions that would crash the process, or are you capturing them in the job and sending them manually?

exq offers a middleware hook when a job fails in `after_failed_work`.  Is that something you're using?

I'm unfortunately not super familiar with distillery deployments, and am unsure what would cause such

[2019-04-30 07:05] StephaneRob commented on #337
Hi @mitchellhenke

Actually I finally catch manually exceptions in `after_failed_work` hook. But I didn't need anything when running the app with `mix phx.server`.

It looks like the release assembled by distillery doesn't embed something useful to catch automatically the exception. (it does not depends on the env, tested with dev or prod release)

Yes it's only on exq worker.

[2019-05-01 18:40] mitchellhenke commented on #336
Cool!

I've opted to have it disabled by default due to potentially sensitive information being included in events, with it being enabled using `Logger.configure_backend/2` in #338

[2019-05-02 06:16] alex88 opened #339 "Different docs between sentry website and readme"
### Description

https://docs.sentry.io/clients/elixir/config/ shows that you have to use `:error_logger.add_report_handler(Sentry.Logger)` to capture non-plug errors while the readme uses `{:ok, _} = Logger.add_backend(Sentry.LoggerBackend)`, is it the same? Which one is the most updated one?

It also says to add a `Sentry.TaskSupervisor` while the readme doesn't, I've found that I could need tha

[2019-05-02 14:58] mitchellhenke commented on #339
Ah, oops! I will fix this 🙂

[2019-05-02 14:59] #336 closed

[2019-05-03 18:34] alex88 commented on #339
@mitchellhenke so the `Sentry.TaskSupervisor` isn't needed?

[2019-05-03 19:11] mitchellhenke commented on #339
@alex88 what version of Sentry are you on?

[2019-05-03 19:15] alex88 commented on #339
@mitchellhenke 7.0.6 in the main `mix.exs` file of an umbrella app, then I do the `Logger.add_backend` in the web app which is started with `mix phx.server`, I'm not 100% sure if the fact I don't have that in the non web-app matters but I get some error reports, I just get that error in sub-processes

[2019-05-03 19:18] mitchellhenke commented on #339
ah, the TaskSupervisor isn't necessary, no, and neither is the :hackney client stuff.  It was intended to be an example of an application Sentry was being added to, but the usage of the Sentry module name in that was unnecessarily confusing.

[2019-05-03 19:35] alex88 commented on #339
mhhh ok, I'll try to investigate why I get that error then, thanks

[2019-05-03 19:39] mitchellhenke commented on #339
Sounds good! Let me know if the issue persists

[2019-05-03 21:32] alex88 commented on #339
Yeah it does for some reason, anyway that's probably out of topic for this task.

[2019-05-06 21:19] mitchellhenke commented on #337
It seems this issue is outside of Exq, Distillery, and Sentry.  I've opened up a PR in Elixir here that should fix the issue: https://github.com/elixir-lang/elixir/pull/9020

Should it be merged, a new Elixir version will need to be released, etc. before the fix is available

In the meantime, it's probably best to rely on the `after_failed_work` hook and send events manually if you are running und

[2019-05-07 07:38] StephaneRob commented on #337
Thanks for the search and for the info.
We will keep the manual `capture_exception` into `after_failed_work` until the fix on the elixir side.

[2019-05-07 13:51] mitchellhenke commented on #337
Sounds good, thank you again for reporting this issue 🙂

I'm going to close this issue, but feel free to comment back if something comes up and it needs to be reopened.

[2019-05-07 13:51] #337 closed

[2019-05-07 13:52] #332 closed

[2019-05-07 13:57] mitchellhenke commented on #339
if back and forth discussion would be easier to debug the issue, I'm in #elixir-lang IRC and the Elixir Slack as `mitchellhenke` as well

[2019-05-07 14:50] StephaneRob commented on #337
Thank you for your help @mitchellhenke !

[2019-05-12 03:09] halostatue opened #342 "Details for after_send_event callback are incorrect"
### Environment

* Elixir version (elixir -v): 1.7.4
* Erlang/OTP version (erl): 21
* Sentry version (mix deps): 7.0.6
* Operating system: MacOS

### Description

The description of the `:after_send_event` callback appears to be incorrect:

The spec for `maybe_call_after_send_event/2` is `@spec maybe_call_after_send_event(send_event_result, Event.t()) :: Event.t()`, and `@type send_event_result ::

[2019-05-12 03:22] halostatue opened #343 "Remove newline from API error logging"
### Environment

* Elixir version (elixir -v): 1.7.4
* Erlang/OTP version (erl): 21
* Sentry version (mix deps): 7.0.6
* Operating system: MacOS

### Description

The private function `Sentry.Client.log_api_error/1` ([lib/sentry/client.ex:338-345](https://github.com/getsentry/sentry-elixir/blob/ace9faf4f518a0764a81f40ac6ac580f62fe41e6/lib/sentry/client.ex#L338-L345)) currently includes a newline i

[2019-05-15 14:15] mitchellhenke commented on #343
I think that should be fine to change.

I don't think it would disrupt anyone's logs to do so?

[2019-05-15 14:17] mitchellhenke commented on #342
Thanks for opening this issue!  That information would be very helpful and should be there.  I'll take a look.

[2019-05-15 15:58] halostatue commented on #343
It shouldn’t, although this could be a compile-time configuration option to use the old format vs the new format:

[code]

The spec would be something like:

`@type api_log_function :oneline | nil | {module, atom} | (String.t() -> (-> iodata))` such that as long as  a module/function accepts a body and returns an iodata, it would all work (this would allow custom error log formats).

It would requ

[2019-05-15 16:00] halostatue commented on #342
The biggest blocker I see with this—and why I opened an issue rather than a PR—is that with retries, the previous error is lost meaning that only `:error` can be returned in that case.

[2019-05-16 17:47] damboscolo opened #345 "No match for {:ok, _} = Logger.add_backend(Sentry.LoggerBackend)"
### Environment

* Elixir version (elixir -v): 1.8.1
* Erlang/OTP version (erl): 10.3
* Sentry version (mix deps): 7.0.6
* Operating system: MacOS

### Description

I just integrate with Sentry and this code did not work for me:
[code]
i'm getting this error at build time:

[code]

I removed the pattern matching to build and it logged the event in Sentry, is it really necessary or is there somethi

[2019-05-17 13:18] mitchellhenke commented on #342
Ah, right.  Will take a bit of work, but it's information that should be available.

[2019-05-17 13:20] mitchellhenke commented on #345
It looks like you may be adding it multiple times.

Is this in an umbrella app?

[2019-05-17 13:50] damboscolo commented on #345
I added in all the apps inside the umbrella

[2019-05-17 14:01] mitchellhenke commented on #345
`{:error, :already_present}` suggests the Logger backend has already been added.  It's only necessary to make that function call once, so if you're calling it in each umbrella application, you'll get that error.

[2019-05-17 14:26] damboscolo commented on #345
got it! thanks!

I need apps to be independent of each other, so I'll create an app to initialize the sentry and add this app as dependencies of the others, thus ensuring that it will only be initialized once.

[2019-05-17 14:29] #345 closed

[2019-06-10 20:53] LiyangW opened #349 "Sentry report is not including set context"
### Environment

* Elixir version (elixir -v): Elixir 1.8.1
* Erlang/OTP version (erl): Erlang/OTP 21
* Sentry version (mix deps): sentry 7.0.6
* Operating system: MacOS

### Description
I am using `sentry`'s `Sentry.Context.set_user_context` under `exq` processes.  I have set the context by using
[code]
, and during my function's running, i am seeing
[code]
in my console.  But on my `sentry` `iss

[2019-06-11 14:15] mitchellhenke commented on #337
A bit behind on sharing it, but the fix was released in [Elixir 1.8.2](https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#v182-2019-05-11)

[2019-06-11 15:34] mitchellhenke commented on #349
@LiyangW Thanks for opening an issue!

My hunch is that this is because the job is running in a separate process than the one that sends the exception, and the context gets lost since the context is stored in the process dictionary.

Potential solutions are to make use of the callback described [here](https://github.com/getsentry/sentry-elixir/issues/337#issuecomment-489783315), though it may dupl

[2019-06-11 16:41] LiyangW commented on #349
@mitchellhenke Thanks for answering me back!

I am using
```{:ok, _} = Logger.add_backend(Sentry.LoggerBackend)```
inside my `App.Appplication`'s `start` function.

Originally, I thought it is because of the separate processes issue as well, so I actually moved the `Sentry.Context.set_user_context` to the worker functions.

Therefore the `exq` command
```{:ok, _ack} = Exq.Enqueuer.enqueue(Exq, "fi

[2019-06-13 14:13] mitchellhenke commented on #349
Yep, that's the right idea, but unfortunately the worker process is separate from the LoggerBackend process that receives the event.

Because of that, I'm not sure how best to handle this.  `try/rescue` with a manual sending of event and context would "solve" it in that the context would then be included, but is more of a hassle.

I'll be able to dig into this a bit further to see if a more comple

[2019-06-19 08:03] CrowdHailer opened #350 "It would be helpful to add `set_http_context` to docs."
Could these [documents](https://docs.sentry.io/clients/elixir/?_ga=2.132887118.1995204738.1560861952-1085467333.1553082584#context-and-breadcrumbs) also reference set_http_context.

I read through the plug source and got to here https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry/plug.ex#L139

because in `capture_exception` you can pass a request key to options I spent some time look

[2019-06-19 19:50] halostatue commented on #343
@mitchellhenke I can implement this as a PR, if you’d like, but we’re getting alerts on spike protection because of this logging and can’t tell the difference between errors that are spike protection vs errors that are encoding problems that we need to fix because of it (the interleaving of messages in ELK from multiple nodes means that line one and line two can be several messages apart).

[2019-06-20 14:05] mitchellhenke commented on #343
@halostatue yes, that would be great! 🙂

[2019-06-20 18:35] halostatue commented on #343
Sure. I’ll get it in the next day or so.

[2019-06-21 15:41] #343 closed

[2019-06-24 20:18] mitchellhenke commented on #350
Thanks for letting me know about this! 🙂

I've got an open pull request for those docs [here](https://github.com/getsentry/sentry-docs/pull/957), so I've added a commit that adds an example line for `set_http_context`.

[2019-06-24 20:23] #339 closed

[2019-06-25 14:00] #350 closed

[2019-07-09 20:08] jeremyjh opened #353 "Duplicate Error Reports between Sentry.LoggerBackend & Sentry.Plug"
### Environment

* Elixir version (elixir -v): 1.7.3
* Erlang/OTP version (erl): 21.0.4
* Sentry version (mix deps): 7.0.3
* Operating system: ubuntu (heroku-16)

### Description
We receive duplicate error reports for exceptions raised in our Phoenix controllers. One contains all the context we'd expect for a web request such as the headers, params and `set_user_context` data that we supply, and t

[2019-07-09 21:18] mitchellhenke commented on #353
Thanks for opening an issue (and your work on dialyxir)!  It shouldn't duplicate in that setup, and you're correct that the compilation shouldn't have an effect.

I'm not able to reproduce this, so I have a few questions if you don't mind 🙂

Is this an umbrella application?
Did you update Sentry, Elixir or Erlang versions recently?
Could you share the JSON of the two errors (under the `JSON` link

[2019-07-09 21:41] jeremyjh commented on #353
Hi, thanks for the quick response. Some answers:

This is not an umbrella application.

We have not updated Sentry, Elixir or Erlang recently. We have updated some dependencies or transitive dependencies recently such as hackney and mimerl.

I'll share the JSONs with you on Slack.

[2019-07-10 22:54] mitchellhenke commented on #353
I think I've located the issue.  I believe it relates to the changes to `plug_cowboy` in https://github.com/elixir-plug/plug_cowboy/pull/9, which was released in version `2.0.2`.  Before that change, those processes did not include a `:crash_reason` in the Logger metadata, which meant `Sentry.LoggerBackend` did not send an error report.  Since it does now, `Sentry.LoggerBackend` will report an err

[2019-07-10 23:31] jeremyjh commented on #353
That makes sense; `plug_cowboy` was bumped as well from `2.0.1` to `2.1.0`. I wish I had mentioned it but glad you found the issue. I don't think there is any rush for a fix in sentry from my side; I can probably pin `plug_cowboy` back to `2.0.1` for now.

[2019-07-17 18:05] mitchellhenke commented on #342
I've opened #354 to resolve this issue, but it changes the return type, so it may warrant a new major version?

[2019-07-17 18:28] halostatue commented on #342
This looks good to me, and I agree that it’s probably worth a major bump because anyone who has implemented an `after_send_event` will need to update to support the new output.

[2019-07-18 19:55] swelham opened #356 "Error compiling Sentry.Plug on Heroku"
### Environment

* Elixir version: 1.8.1
* Erlang/OTP version (erl): 21.2.4
* Sentry version (mix deps): 7.1.0
* Operating system: Heroku Dyno

### Description

When deploying to Heroku using the `hook_pre_compile="mix sentry_recompile"` buildpack config on a fresh dyno or a dyno where the build cache has been purged, it will fail to compile because the `Sentry.Plug` module is not loaded. Removing

[2019-07-22 20:40] mitchellhenke commented on #356
@swelham thank you for the very detailed and reproducible report! 🙂

I was able to reproduce the issue.  This is behavior I would not have expected from `mix deps.compile`, as it will strictly compile only that dependency and none of the dependency's dependencies (regardless of the `--force` switch).  The clue being running `mix deps.compile sentry` the first time results in:

[code]

The solution

[2019-07-23 15:19] #356 closed

[2019-07-25 12:26] swelham commented on #356
@mitchellhenke thank you for the detailed response and solution 👍

[2019-08-18 14:35] leandrocp commented on #356
Thanks for the fix. Probably should update the docs? https://docs.sentry.io/clients/elixir/#including-source-code

[2019-08-20 00:04] islamhamdi opened #358 "Dialyzer error with using Sentry.plug in web routers"
### Environment

* Elixir version (elixir -v): Elixir 1.8.2
* Erlang/OTP version (erl): Erlang/OTP 22
* Sentry version (mix deps): sentry 7.0
* Operating system: macOS Mojave

### Description

I've integrated Sentry with my elixir app, part of it is using sentry plug in our web router:

[code]

After running `mix dialyzer` I got an invalid spec error:

[code]

Looking into the plugin's codebase, i

[2019-08-20 21:24] mitchellhenke commented on #356
@leandrocp Thanks, I've submitted a PR to fix it!

[2019-08-20 21:54] mitchellhenke commented on #358
@islamhamdi thanks for opening an issue!

I was unable to reproduce with the example repository here: https://github.com/mitchellhenke/sentry_dialyzer_test

Is there something else going on in your router that could cause the issue?

[2019-09-01 12:10] islamhamdi opened #359 "Erlang error: :socket_closed_unexpectedly not reported to Sentry"
### Environment

* Elixir version (elixir -v): Elixir 1.8.2
* Erlang/OTP version (erl): Erlang/OTP 22
* Sentry version (mix deps): sentry 7.0
* Operating system: macOS Mojave

### Description

The project, I integrated sentry with, uses a custom elixir package that connects to Rabbitmq with amqp connections. Sporadically we can get errors like:

`Erlang error: :socket_closed_unexpectedly`

But the

[2019-09-03 15:54] mitchellhenke commented on #359
@islamhamdi thanks for opening an issue!

Sentry should report any crashed process, but without information on which library is being used, it is difficult to troubleshoot.

Can you link me to the library you are using?

[2019-09-19 10:21] aronglia opened #360 "Sentry not reporting errors because process gets killed"
### Environment

* Elixir version (elixir -v):
[code]
* Erlang/OTP version (erl):
[code]
* Sentry version (mix deps): 7.1.0
* Operating system: macOS

### Description

Errors are not reported to Sentry in some cases. This happens when the process which reports the error to Sentry is killed.
When the code [here](https://github.com/getsentry/sentry-elixir/blob/dfcbf2349cd839f29b55cf231ba63e7cdef0865

[2019-09-19 16:39] jnylen opened #361 "Enhancement: Grab release version from env"
### Environment

* Elixir version (elixir -v): 1.9.1
* Erlang/OTP version (erl): 22.0
* Sentry version (mix deps): 7+
* Operating system: Linux

### Description

This is just an enhancement tip, in 1.9.0+ (the one with mix release) you can grab the application version via: `System.get_env("RELEASE_VSN")`

Would be cool if it default to this when the release is nil/not in the config.

[2019-09-19 20:35] mitchellhenke commented on #361
@jnylen thanks for opening an issue!

I can definitely add this soon.

[2019-09-19 20:55] mitchellhenke commented on #360
@aronglia thank you so much for the detailed report and the code to reproduce this issue!

I am able to reproduce it, and happens to be related to the bug that #341 solves, and that PR would fix this as well by not linking the Sentry process to the caller.

Given this additional issue, I'll probably merge and release a major version in the next week or so that includes that fix.

Thank you again 🙂

[2019-09-20 15:27] mitchellhenke commented on #359
Going to close this issue for now, but happy to reopen and investigate further with more information 🙂

[2019-09-20 15:27] #359 closed

[2019-09-25 08:07] hkrutzer opened #362 "How to set source code path in umbrella application?"
### Environment

* Elixir version (elixir -v): 1.8
* Erlang/OTP version (erl): 22
* Sentry version (mix deps): 7
* Operating system:

### Description
`root_source_code_path` takes a string for a single path, but an umbrella applications has multiple paths. Does the client support this? If so how should I configure this?

[2019-09-30 21:35] mitchellhenke commented on #362
@hkrutzer hey, thanks for opening an issue!

I haven't done as much testing on umbrella applications compared to standard applications, but things should work for the most part.

I'll dig deeper later this week to see how well source code path stuff works for umbrella apps, but I would start by trying:

[code]

If it's helpful in your attempts, Sentry uses [Path.wildcard/2](https://hexdocs.pm/elix

[2019-10-01 18:57] mitchellhenke commented on #362
@hkrutzer do you typically configure Sentry at the root level?

It seems like configuring Sentry in each child application using the default configuration would work, could you give that a shot?

There's potential to have some configuration to trim the "apps/app1", etc. from the search, but I would need to do some more research into the structure of umbrella apps and dependency configuration.

[2019-10-02 22:35] lobsterkatie opened #363 "Enhancement: Use `before_send_event` for filtering"
In other Sentry SDK's, the equivalent of `before_send_event` (`beforeSend` in JS, `before_send` in Python, etc) serve two purposes: they let you modify the event before it's sent, but they also let you examine it and decide whether or not you even want to send it in the first place. (In those SDK's, if `beforeSend`/`before_send` returns something falsy, the event is dropped.) Docs on this [here](h

[2019-10-18 02:02] cdvv7788 opened #365 "Get last event ID"
https://docs.sentry.io/enriching-error-data/user-feedback/
How to make that work using elixir_sdk?

[2019-10-23 15:32] #363 closed

[2019-10-23 15:33] #353 closed

[2019-10-23 19:55] mitchellhenke commented on #365
@cdvv7788 thanks for opening this! It's unfortunately not currently supported.

Doing it in Plug seems somewhat straightforward, but I think Phoenix will be a bit more difficult.

I will dig into this and see if I can come up with a solution.

[2019-10-24 21:31] lobsterkatie commented on #363
Thanks, @mitchellhenke!

[2019-10-28 15:43] #280 closed

[2019-11-02 14:33] nbw opened #369 "Beginner Configuration Question for Phoenix"
### Description

I'm using Phoenix and the documentation for sentry-elixir reads:

[code]

To clarify, when you say `Phoenix.Router` do you mean `[My app name]Web.Router.ex`, which would be in `lib/[my app name]web/router.ex`. Because the actual Phoenix.Router module belongs to phoenix in my deps folder.

I've been trying to actually get errors to pop up on Sentry with no avail, so I'm just trying

[2019-11-04 20:18] mitchellhenke commented on #369
@nbw thanks for opening an issue!

I have made some preliminary changes in the README to hopefully make it clearer how to get Sentry set up quickly.

To address your present issue, what is your configuration?

[2019-11-08 23:05] #369 closed

[2019-11-11 19:14] dkulchenko opened #371 "Unreachable/misconfigured Sentry hangs the Elixir app"
### Environment

* Elixir version (elixir -v): 1.9.1
* Erlang/OTP version (erl): 22
* Sentry version (mix deps): 7.2.0
* Operating system: macOS 10.13

### Description

If Sentry is misconfigured or otherwise can't reach the API, and is configured to use the Logger backend, any Logger usage in the app will hang indefinitely after a certain number of attempted logged messages.

### Expected Behavio

[2019-11-14 21:09] mitchellhenke commented on #371
@dkulchenko thanks for opening an issue! I've identified the cause and am working on a fix.

[2019-11-19 20:07] cdvv7788 opened #373 "(Plug.Conn.NotSentError) a response was neither set nor sent from the connection not sent to sentry"
### Environment

* Elixir version (elixir -v): 1.9.4
* Erlang/OTP version (erl): 22
* Sentry version (mix deps): 7.2.0
* Operating system: Ubuntu 18.04

### Description
When getting a `Plug.Conn.NotSentError` an issue in sentry is not being created.

### Expected Behavior
An issue should be created in sentry

### Actual Behavior
Error is in my logs, but not in sentry

### Steps to Reproduce
From a

[2019-11-19 20:32] #371 closed

[2019-11-19 20:41] dkulchenko commented on #371
Thanks @mitchellhenke :)

[2019-11-20 18:31] mitchellhenke commented on #373
@cdvv7788 thanks for opening an issue!

I've attempted to reproduce in a fresh Phoenix repo [here](https://github.com/mitchellhenke/SentryNotSentError), with my attempted minimal changes being: https://github.com/mitchellhenke/SentryNotSentError/compare/e1a39f133032342639eed0784acaefd3574ede01...master

With those changes, I'm unable to reproduce and am receiving Sentry errors when hitting the rou

[2019-11-20 20:20] cdvv7788 commented on #373
@mitchellhenke I checked again and it seems it was an issue with env variables. Sorry for wasting your time, closing. Thanks.

[2019-11-20 20:20] #373 closed

[2019-11-20 20:21] mitchellhenke commented on #373
@cdvv7788 no worries, I appreciate you taking the time to create an issue 🙂

[2019-11-21 22:31] mitchellhenke commented on #371
@dkulchenko absolutely, and thank you for discovering the issue!

[2019-11-24 10:03] hfjallemark opened #374 "Duplicate errors between Sentry.LoggerBackend and Sentry.Plug"
### Environment

* Elixir version (elixir -v): 1.9.1
* Erlang/OTP version (erl): 22
* Sentry version (mix deps): 7.2.0
* Operating system: macOS Catalina

### Description

When adding the `Sentry.LoggerBackend` I am receiving duplicate events for request errors. Inspecting the logger backend code:

https://github.com/getsentry/sentry-elixir/blob/c27a52915767af5ff57bb5b63311b6e8e1081240/lib/sentry/

[2019-11-26 13:30] quexpl opened #375 "Phoenix.Router.NoRouteError message should not be changed"
### Environment

* Elixir version (elixir -v): Elixir 1.9.1
* Erlang/OTP version (erl): Erlang/OTP 22 [erts-10.4.4]
* Sentry version (mix deps): 7.2.0
* Operating system: Ubuntu 16.04.6 LTS

### Description
When using `Sentry.Phoenix.Endpoint` error message of the `Phoenix.Router.NoRouteError` exception is changed to default (no route found).

After adding sentry to our project, one of test is fai

[2019-11-26 16:59] #375 closed

[2019-11-26 17:55] #374 closed

[2019-11-26 20:07] mitchellhenke commented on #365
@cdvv7788 I've put together a small prototype if you're able to and want to give it a try. You'll need to direct your Sentry dependency at the branch, and add the `collect_feedback: true` option to `Sentry.Plug`:

[code]

When an error happens, it should show:
![image](https://user-images.githubusercontent.com/1430443/69666983-c95e8900-1052-11ea-9845-3b78d3bd1cfc.png)

[2019-12-01 16:27] cdvv7788 commented on #365
This works!. Any way to customize the form? I can live with the default one for a while, but I would like to be able to do that at some point.

Thanks for the help!

[2019-12-02 22:49] mitchellhenke commented on #365
@cdvv7788 yeah, it's possible: https://docs.sentry.io/enriching-error-data/user-feedback/?platform=django#customizing-the-widget

I don't know on the best way to present that configuration through the Plug, especially if it's something more dynamic with user information, etc.

[2019-12-04 06:08] garthk opened #378 "Logger.add_backend/1 doesn't outlast Logger.BackendSupervisor"
### Environment

* Elixir version (elixir -v): 1.9.4
* Erlang/OTP version (erl): 22
* Sentry version (mix deps): 7.2.0
* Operating system: any

### Description

README advises:

… but [`Logger.add_backend/2`](https://hexdocs.pm/logger/Logger.html#add_backend/2) says:

Let's try that out:

[code]

Uh oh. The Elixir docs are right: `Sentry.LoggerBackend` is gone. (The same happens if you call `Logge

[2019-12-04 15:56] cdvv7788 commented on #365
Yes. I am not familiar with plug, so I can't be of help in there, sorry :(. For now this seems to work properly, and it is definitely a nice improvement.

[2019-12-04 19:31] chulkilee commented on #378
I also confirmed that setting via application env works as expected.

Not sure it is available in all elixir versions supported by sentry though.

[2019-12-04 19:33] chulkilee commented on #362
In umbrella app, all configuration is basically shared by all apps. So configuring Sentry in each child app does not make sense.

BTW in my case I added sentry to "common" app, and make all other children app depend on the common app.

[2019-12-04 19:42] mitchellhenke commented on #378
@garthk thanks for opening a detailed issue!

I can adjust the documentation to recommend configuration via Application environment.

@chulkilee Sentry requires Elixir version 1.7 or higher, and it looks like configuration via `:backends` is supported at least that far back 🙂

[2019-12-05 19:30] #378 closed

[2019-12-18 20:26] chad-g-adams opened #380 "Sentry.LogggerBackend crashes when a genserver call times out"
### Environment

* Elixir version (elixir -v): Elixir 1.9.4 (compiled with Erlang/OTP 21)
* Erlang/OTP version (erl): Erlang/OTP 22 [erts-10.5.6] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
* Sentry version (mix deps): 7.2.1
* Operating system: Ubuntu

### Description

Sentry.LoggerBackend crashes when a timeout is encountered on a GenServer call()

The following is a snippet

[2019-12-18 22:40] mitchellhenke commented on #380
@chad-g-adams thanks for opening an issue, I'll take a look into this tomorrow!

[2019-12-19 18:35] mitchellhenke commented on #380
@chad-g-adams Using your Elixir/Erlang versions, I unfortunately wasn't able to reproduce.

I'm seeing a message in the shape of:

[code]

I've also written a passing test case here: https://github.com/getsentry/sentry-elixir/pull/new/timeout-test

I'll probably explore making sure the second element in the tuple is a list, but I'm curious on how you're getting that. Do you have anything else goin

[2019-12-19 21:48] chad-g-adams commented on #380
Thanks for the quick response! Interesting... My case looks similar to your GenServer call, with the only difference being my pid going into the call() is a module name. (I doubt that would make a difference).

I am running as part of a larger Phoenix/Absinthe application, so the caller is a process provided by the framework in the context of handling a graphql request. I have confirmed it is defi

[2019-12-20 20:24] mitchellhenke commented on #380
I've opened #381 to at least avoid the crash, but I'm still not sure how best to proceed with the error. It's in the format of an MFA tuple, but it's odd and I can't see how that would happen.

Typically these logs are coming from Erlang and are then translated by Elixir (example: https://github.com/elixir-lang/elixir/blob/master/lib/logger/lib/logger/translator.ex#L405). The docs even state `:cra

[2019-12-23 17:22] chad-g-adams commented on #380
Hi @mitchellhenke, I have not installed any translators. Looking in my deps, the only reference to "add_translator" is found in `plug_cowboy` (which is a library used by Phoenix but I have not set any custom configuration for it)

[2019-12-23 21:48] mitchellhenke commented on #380
Hm, thanks for checking. I'm not sure what else could be causing this.

It seems unlikely, and not being able to reproduce makes it difficult, but it's possible this is a bug in Erlang/Elixir.

Was the Erlang or Elixir version updated recently for the application?

[2019-12-31 14:58] chad-g-adams commented on #380
We always tend to run with the latest available version so it's possible there was a recent upgrade to a new minor release.  I just tried rolling all the way back to elixir 1.8 and was still able to reproduce it with the following versions:

[code]

[2020-01-03 16:29] cdvv7788 commented on #365
@mitchellhenke will this be merged to master? or further work is required?

[2020-01-03 20:35] mitchellhenke commented on #365
@cdvv7788 I'd like to do some further work to become more familiar with the options and how to best incorporate them into the Sentry Plug module

If there are specific parts of the customization that are of more interest, I'd be happy to prioritize those

[2020-01-06 20:12] cdvv7788 commented on #365
For now it works for me. I just want to avoid pinning a branch (and later have my build fail when the branch dissapears) or pinning a commit and missing other updates to the plugin. If there is something I can help with, please let me know.

[2020-01-09 14:50] joshualcoffee opened #383 "Exceptions with breadcrumbs using Sentry.LoggerBackend"
### Environment

* Elixir version (elixir -v): All
* Erlang/OTP version (erl): all
* Sentry version (mix deps): 7.x
* Operating system: All

### Description
When a process crashes or an exception is raised sentry-elixir will capture the exception correctly. However, if you use breadcrumbs or other context sentry-elixir will not pass this correctly.

As I understand the code we are using the Proces

[2020-01-09 18:03] mitchellhenke commented on #380
Would you be able to pull down my branch [here](https://github.com/getsentry/sentry-elixir/pull/new/timeout-test) and run `mix test` in the same environment?

I've installed the same versions as best as I can tell (Elixir 1.8.2 compiled on OTP 20.3 running on OTP 22.2.1) and the test passes.

[code]

[2020-01-09 19:00] mitchellhenke commented on #383
@joshualcoffee thanks for opening an issue and the detailing the current limitations and possibilities!

I would like to expand what's possible with Context around processes, but it's unlikely I'll add a required dependency. The most likely case is something that allows configuration of where the Context is read from and written to. Default configuration being the same process dictionary functiona

[2020-01-09 19:36] mitchellhenke commented on #365
yeah, that's a good point. I think I will instead focus on publishing a version with minimal options to make this available in a stabler capacity, and defer further options until there's some more feedback in that area.

And thank you for the patience and continued communication on this 🙂

[2020-01-10 00:19] joshualcoffee commented on #383
I think that's a fair point regarding the dependency.  I was really on the fence if it even belonged.  Cachex was my first go to as reading and writing to context could be extensive.

I think utilizing the Process dictionary may lead to bleeding concerns.  For the most part, the process dictionary should only be accessed via the process that called it. From my knowledge, I believe the only way to

[2020-01-27 19:10] alizain commented on #380
@mitchellhenke I'm experiencing a similar issue, I've created a [minimal Phoenix app](https://github.com/alizain/sentry_genserver_failure) with Sentry that reproduces the error.

PS. The only difference between my repro and what @chad-g-adams experienced is that it's a `MatchError` inside a GenServer call that triggers the initial failure, instead of a timeout.

Check out [this particular commit](

[2020-01-30 16:53] mitchellhenke commented on #380
@alizain thank you so much, this helps me reproduce and I can take a further look into the issue!

[2020-02-04 17:50] barkerja commented on #349
Would it make sense to potentially explore `:persistent_store` which was introduced in OTP 21.2? It's a VM-wide storage accessible from all processes/modules.

[2020-02-05 19:30] rodrigues commented on #319
Hi @mitchellhenke !

I was surprised to know today about this behaviour.

Noticed that many error logs didn't get to Sentry, and after digging into your logger backend code, found out they were being ignored by design.

In Elixir, sometimes error is returned with tuples (not raising), and we'd still like to log these errors.

Sharing the alt solution I'll try for now, as it may be useful to someon

[2020-02-05 20:25] mitchellhenke commented on #319
@rodrigues could you share some examples of errors you'd like to have reported, but are not currently (as they don't have `:crash_reason`)?

[2020-02-05 21:03] rodrigues commented on #319
Hi @mitchellhenke, sure, basically anything like the below doesn't go to sentry:

[code]

For example, every x secs I call a function that processes something and I don't need/want to raise:

[code]

Another example, a function that can return an ok or error tuple, it's called by another application, but we want to log when it's going to return error data:

[code]

Cheers!

[2020-02-05 21:27] mitchellhenke commented on #319
Thanks for the detail. Options to consider for cases like that is to use `Sentry.capture_exception` or `Sentry.capture_message` directly or a Logger backend that sends every event to Sentry (like linked above).

The two issues I'm trying to be mindful of around this is people and libraries use Logger differently, so capturing all error messages could be noisy, and there is a limit to how many even

[2020-02-05 22:16] rodrigues commented on #319
Good points, bringing just some thoughts about how I think this could go smoothly:

- If it can be configurable (`false` by default), and the users that want to enable it could choose, I think it would be already awesome 👍
- You could also rely on some log metadata to decide whether to send event or not in a per-log-event basis (e.g. `sentry: true` means go ahead).
- EventFilter behaviour could ev

[2020-02-13 14:08] hauleth opened #384 "`Sentry.LoggerBackend` should hook to the Erlang's Logger"
### Environment

* Elixir version (elixir -v): 1.10
* Erlang/OTP version (erl): 21+
* Sentry version (mix deps): doesn't matter
* Operating system: doesn't matter

### Description

Currently `Sentry.LoggerBackend` hooks to the Elixir's logger which can be defined to ignore the OTP and SASL messages.

### Expected Behavior

Error when configuration is like:

[code]

Should be handled by Sentry

###

[2020-02-13 14:17] hauleth commented on #384
Just in case, I will try to handle that in my spare time, I just created it to remember about it.

BTW There are plans to deprecate the "legacy backends" in future, so it is better to do the transition as soon as possible.

[2020-02-13 18:22] mitchellhenke commented on #380
Thanks for the patience and information. After taking some time to look into this, it appears to be due to how Cowboy formats these kinds of errors.

The crashed process itself reports a `:crash_reason` of:

[code]

which is the expected `{reason,  stacktrace}` format.
The cowboy process also crashes, but the `:crash_reason` is:

[code]

which is `{{error, stacktrace}, {module, function, arguments

[2020-02-13 18:31] alizain commented on #380
Awesome, thanks so much @mitchellhenke!

[2020-02-13 18:58] #380 closed

[2020-02-13 20:00] mitchellhenke commented on #384
I think the transition will be relatively straightforward, assuming the structure of events remains similar. A log event from Erlang's new logger looks relatively similar to the format Sentry uses no:

[code]
Do you know whether Logger translators will still play a role, or will they be deprecated as well?

[2020-02-14 09:00] hauleth commented on #384
If the Elixir backends will be deprecated then the translators will play almost no role as well. However the plan is to have formatter defined that will do translation if needed. However I think that structured log is better as Sentry can format it on their own to format that suits Sentry the best.

Additionally it could be useful to translate it to Erlang for example, so Sentry could be used in p

[2020-02-14 21:35] mitchellhenke commented on #349
Indeed, something backed with a core feature and has no dependencies would be preferable.

(linking #383, as these are related)

[2020-02-14 21:50] #365 closed

[2020-02-14 22:13] mitchellhenke commented on #383
I think one of the more difficult parts will be clearing a key when it's no longer needed. Possible to monitor process when data gets added, but I'm not sure on the implications or details of managing it.

[2020-02-27 18:49] cdvv7788 commented on #365
@mitchellhenke I installed the latest version (7.2.2) and this feature seems absent. In github the last version is 7.2.1.
Is this still awaiting a release?

[2020-02-27 19:16] mitchellhenke commented on #365
@cdvv7788 it was not included. I've added 7.2.2 to github and just released `7.2.3` that includes this feature

[2020-02-27 19:16] cdvv7788 commented on #365
Great. Thanks a lot.

[2020-02-28 16:42] cdvv7788 opened #386 "Customizing user feedback form"
### Description
With the new feature to enable user feedback on errors with code 500, the form shows up (thanks for adding it btw). Now I would like to be able to customize it according to the options available at https://docs.sentry.io/enriching-error-data/user-feedback/?platform=django#customizing-the-widget. Specifically, the lang, the title, subtitle, etc. The information to modify the dsn and